.row {
  background-color: #333333;

  .col {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 29px;

    &::before {
      content: none !important;
    }
  }
}

.go {
  display: inline-flex;
  width: 82px;
  color: #333333;
  margin-left: 17px;
}

.eye {
  display: inline-block;
  width: initial;
  height: 30px;
  margin-right: 27px;
  vertical-align: middle;
}
