.row {
  background-color: #333333;

  .col {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 29px;
  }
}

.eye {
  display: inline-block;
  width: inherit;
  height: 30px;
  margin-right: 27px;
  vertical-align: middle;
}
