.latestTable {
  background-color: #fff;
  .colCompany {
    width: 25%;
  }
  .colPosition {
    width: 21%;
  }
  .colWeekTime {
    width: 10%;
  }
  .colFrequency {
    width: 10%;
  }
  .colSalary {
    width: 14%;
  }
  .colHourly {
    width: 12%;
  }
  .colDataTime {
    width: 10%;
  }
  .colAboutThisJob {
    width: 5%;
  }
}

.sortRow {
  display: flex;
  margin-top: 16px;

  .extremeDescription {
    justify-content: flex-start;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #626262;
  }
}

.extremeDescription {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .toggle {
    color: #325bbd;
  }
}

.extremeRow {
  background-color: #f1f1f1;
}

.noBefore::before {
  content: none !important;
}

.noPadding {
  padding: 0 !important;
}

.permissionBlockBoard {
  margin: -12px -20px;
  padding: 50px 25px;

  width: calc(100% + 40px);
}

.feedbackBlock {
  margin-top: 60px;
}
