.latestTable {
  background-color: #fff;
  .colCompany {
    width: 25%;
  }
  .colPosition {
    width: 21%;
  }
  .colWeekTime {
    width: 10%;
  }
  .colFrequency {
    width: 10%;
  }
  .colSalary {
    width: 14%;
  }
  .colHourly {
    width: 12%;
  }
  .colDataTime {
    width: 10%;
  }
}

.sortRow {
  margin-bottom: 20px;
  display: flex;

  .extremeDescription {
    justify-content: flex-start;
    font-size: 14px;
    line-height: 18px;
    color: #626262;
  }
}

.extremeDescription {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .toggle {
    color: #325bbd;
  }
}

.extremeRow {
  background-color: #f1f1f1;
}
