@value main-gray, main-yellow from "../variables.module.css";

.container {
  color: main-gray;
  display: flex;
  align-items: center;
  > div {
    margin-left: 10px;
    svg {
      fill: main-gray;
      width: 1.1em;
      height: 1.1em;
      &.clickable {
        cursor: pointer;
      }
      &.toggled {
        fill: main-yellow;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
