.container {
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 86px;
  max-width: 880px;
  overflow-anchor: none;
}

.title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.87px;
  text-align: center;
  line-height: normal;
  color: #555555;
  margin-bottom: 12px;
}

.loadMoreButton {
  margin: 0 auto;
  display: block;
}
