.welcome {
  display: flex;
  justify-content: center;
  margin: 77px auto 0 auto;
}

.headingIcon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 1em;
}

.heading {
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 2.06px;
  color: #000000;

  &:nth-child(2) {
    height: 33px;
    font-size: 24px;
    letter-spacing: 0.87px;
    color: #000000;
    margin-top: 7px;
  }
}

.joinBtn {
  display: flex;
  margin: 2em auto 2em auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
