.intro {
  display: flex;
  justify-content: center;
  margin: 4.5rem auto 0 auto;
}

.headingIcon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1em;

  @media (max-width: 767px) {
    display: none;
  }
}

.heading {
  font-size: 2.25rem;
  line-height: 1.14;
  letter-spacing: 2.06px;
  color: #000000;

  @media (max-width: 359px) {
    font-size: 2.5rem;
    text-align: center;
  }

  @media (min-width: 360px) and (max-width: 374px) {
    font-size: 3rem;
    text-align: center;
  }

  @media (min-width: 375px) and (max-width: 410px) {
    font-size: 3rem;
    text-align: center;
  }

  @media (min-width: 411px) and (max-width: 767px) {
    font-size: 3.5rem;
    text-align: center;
  }

  &:nth-child(2) {
    height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.87px;
    position: relative;
    margin-top: 0.5rem;
    @media (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media (max-width: 359px) {
      font-size: 1rem;
    }
  }
}

.subHeading {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: 28px;

  @media (max-width: 767px) {
    font-size: 2.25rem;
  }
}

.text {
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  font-size: 1.125rem;
  text-align: justify;

  @media (max-width: 767px) {
    font-size: 1.15rem;
  }
}

.joinBtn {
  display: flex;
  margin: 2rem auto 2rem auto;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100vw;
  max-height: 760px;
}
