@value main-yellow, main-black from 'common/variables.module.css';

.banner {
  background-color: main-yellow;

  > div {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 1100px;

    @media (max-width: 850px) {
      flex-direction: column;
    }
  }
}

.image {
  order: 1;
  flex-grow: 0;
  flex-basis: 390px;
  @media (max-width: 850px) {
    flex-basis: auto;
    margin-top: 24px;
  }
  img {
    min-height: 150px;
    @media (max-width: 850px) {
      max-width: 280px;
    }
  }
}

.content {
  order: 2;
  color: main-black;
  flex-grow: 1;
  flex-basis: auto;
  animation: fadeUp 1s linear;
  text-align: center;

  @media (max-width: 850px) {
    order: 0;
  }
}

.heading {
  font-size: 1.85em;
  line-height: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 20px;

  @media (max-width: 850px) {
    font-size: 1.65em;
  }

  > span {
    font-weight: 700;
  }
}

.subheading {
  font-size: 1.125em;
  line-height: 1.6em;
  margin-bottom: 24px;

  @media (max-width: 850px) {
    br {
      display: none;
      font-size: 1em;
    }
  }

  strong {
    font-weight: 700;
  }
}

.progressBar {
  margin-bottom: 24px;
  margin-top: 40px;
}

@keyframes fadeUp {
	from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
