@value main-yellow, main-black from 'common/variables.module.css';

.banner {
  background-color: #fff;
  height: 297px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffae1 url('./about-people-colored.png') no-repeat right bottom;
  background-size: 347px;
  border-bottom: 1px solid #e5ba00;

  > div {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 1100px;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  @media (max-width: 550px) {
    height: 397px;
    padding-bottom: 100px;
    background-position-x: center;
  }
}

.image {
  order: 1;
  flex-grow: 0;
  flex-basis: 390px;
  @media (max-width: 550px) {
    flex-basis: auto;
    margin-top: 24px;
  }
  img {
    min-height: 150px;
    @media (max-width: 550px) {
      max-width: 280px;
    }
  }
}

.content {
  order: 2;
  color: main-black;
  flex-grow: 1;
  flex-basis: auto;
  animation: fadeUp 1s linear;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 550px) {
    order: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.heading {
  font-size: 28px;
  line-height: 1.57;
  letter-spacing: 2px;
  margin-bottom: 3px;
  font-weight: 500;

  @media (max-width: 550px) {
    font-size: 2em;
  }
}

.subheading {
  font-size: 17px;
  line-height: 2.59;
  margin-bottom: 13px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
