@value above-mobile from "common/variables.module.css";

.chartWrapper {
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;

    @media (min-width: above-mobile) {
      flex-direction: row;
      align-items: center;
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      color: #000;
    }

    .readmore {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
      color: #325bbd;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      @media (min-width: above-mobile) {
        margin-left: 24px;
        margin-top: 0;
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
