@value banner-background-color from "../common/variables.module.css";
@value see-more-button-color from "../common/variables.module.css";

.classrooms_section {
  margin: 50px 0;
  text-align: center;
}

.classroom_images_wrapper {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

.classroom_image_item {
  margin: 0 30px;
  flex: 1;
  background-color: banner-background-color;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  > img {
    width: 100%;
    object-fit: contain;
  }
}
