@value main-yellow from '../common/variables.module.css';

.banner {
  background-color: #222;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/goodjob.life/www/black-bg.jpg");
  background-repeat: repeat;

  > div {
    display: flex;

    @media (max-width: 850px) {
      flex-direction: column;
    }
  }
}

.image {
  order: 2;
  flex: 1 1 auto;
  align-self: flex-end;
  text-align: right;

  img {
    display: inline-block;
    max-width: 527px;
    @media (max-width: 850px) {
      max-width: 300px;
    }
  }
}

.content {
  color: #fff;
  flex: 0 0 50%;
  padding-top: 64px;
  padding-bottom: 64px;

  @media (max-width: 850px) {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.heading {
  font-size: 2.75em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 400;

  @media (max-width: 850px) {
    font-size: 2.3em;
  }
}

.subheading {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
