.wrapper {
  padding-top: 24px;

  @media (max-width: 550px) {
    font-size: 0.85em;
  }
}

.item {
  display: flex;
  margin-bottom: -40px;
}

.icon {
  width: 80px;
  height: 80px;
  margin-right: 24px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 550px) {
    width: 60px;
    height: 60px;
  }
}

.heading {
  margin-bottom: 8px;
}

.text {
  font-size: 2.25em;
  padding-right: 8px;
}
