$block-gutter-l: 40px;
$below-small: 850px;
$below-mobile: 550px;
$block-gutter-m: 40px;
$gray: #b4b4b4;
$warning: #d50000;

.searchbar {
  display: flex;
  width: 400px;

  @media (max-width: $below-small) {
    width: 100%;
  }

  .textInputWrapper {
    flex: 1;
  }

  .searchBtn {
    margin-left: 11px;
  }
}

.textInput {
  height: 40px;
  border: solid 1px #bdbdbd;
  padding: 8px;
  font-size: 15px;
  line-height: 24px;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border: solid 1px #000;
  cursor: pointer;
  font-size: 14px;
  background: #fff;

  svg {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    transition-property: fill;
    transition-duration: 0.3s;

    &:hover {
      fill: main-gray;
    }
  }
}
