@value border-gray, above-small from "common/variables.module.css";

.summarySection {
  display: flex;
  justify-content: center;

  padding: 30px 24px;

  border-bottom: solid 1px border-gray;
  @media (min-width: above-small) {
    padding-top: 72px;
    padding-bottom: 56px;
  }
}

.page {
  display: flex;
  flex-direction: column;

  @media (min-width: above-small) {
    flex-direction: row;
  }

  .chartWrapper {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
    @media (min-width: above-small) {
      &:not(:last-child) {
        margin-right: 46px;
      }
    }
  }
}

.barChart {
  display: none;
}

> .barChartSm {
  display: block;
}

@media (min-width: above-small) {
  .barChart {
    display: block;
  }

  .barChartSm {
    display: none;
  }
}
