@value border-gray, above-small, above-desktop, below-medium, above-medium from "../common/variables.module.css";

.summarySection {
  display: flex;
  justify-content: center;

  padding: 30px 0px;

  border-bottom: solid 1px border-gray;
  @media (min-width: above-desktop) {
    padding-top: 72px;
    padding-bottom: 56px;
  }
}

.carousel {
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: above-desktop) {
    flex-direction: row;
    justify-content: center;
  }

  .chartWrapper {
    max-width: 545px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
    @media (min-width: above-desktop) {
      flex: 1;
      &:not(:last-child) {
        margin-right: 46px;
        margin-bottom: 0;
      }
    }
  }
}

.barChart {
  width: 100%;
  height: 265px;
}
