@value border-gray from "common/variables.module.css";

.summarySection {
  display: flex;
  justify-content: center;

  padding-top: 72px;
  padding-bottom: 56px;

  border-bottom: solid 1px border-gray;
}

.page {
  display: flex;

  .chartWrapper {
    &:not(:last-child) {
      margin-right: 46px;
    }
  }
}
