@value main-yellow from "../../common/variables.module.css";

.share_experience_item {
  display: flex;
  padding: 50px 30px;
  border: 0;
  margin: 0 30px;
  flex-direction: column;
  flex: 1;

  &:hover {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(20%, 20%, 40%, 0.2);
  }

  .image {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: grey;
    outline: 0;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  .link {
    padding: 15px 0;
    border: 0;
    border-radius: 30px;
    margin-top: 30px;
    background: transparent;
    cursor: pointer;
    outline: 0;

    > span {
      font-size: 1.5em;
    }

    &.isHover {
      background: main-yellow;
    }
  }
}
