.button {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #DCDCDC;
  border-radius: 100px;
  background: #FFFFFF;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #3D3D3D;

  &:hover {
    background-color: #F6F6F6;
  }

  &:disabled {
    background: white;
    color: #DCDCDC;
    cursor: not-allowed;
  }

  @media (max-width: 550px) {
    height: 32px;
    line-height: 32px;
    font-size: 0.9em;
  }
}

.custimized {
  composes: button;
  border-color: #E5BA00;
  color: #E5BA00;
  font-weight: bold;

  &:hover {
    background-color: #FFFFFF;
  }
}
