.wrapper {
  display: flex;
  margin-top: 16px;
}

.radio {
  padding: 20px 0;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
  transition: background-color .25s;
  cursor: pointer;
  margin-right: 4px;

  @media (min-width: 1025px) {
    &:hover {
      background: #D8D8D8;
    }
  }

  @media (max-width: 550px) {
    width: calc(50% - 2px);
  }
}

.checked {
  background-color: #606060;
  cursor: default;

  @media (min-width: 1025px) {
    &:hover {
      background: #606060;
    }
  }
}

.last {
  margin-right: 0;
}

.content__checked {
  > svg {
    fill: white;
  }
}

.content__unchecked {
  > svg {
      fill: black;
    }
}
