@value INPUT_HEIGHT, main-gray from "../variables.module.css";

.element {
  display: inline-flex;
  min-width: 110px;
  height: INPUT_HEIGHT;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 22px;
  box-sizing: border-box;
  margin-right: 12px;
  border: 1px dashed main-gray;
  margin-bottom: 5px;
  transition: background-color 0.25s;
}

.last {
  margin-right: 0;
}

.checked {
  composes: element;
  background: #606060;
  color: white;
  border-color: transparent;
  cursor: default;
}

.unchecked {
  composes: element;
  color: #505050;
  cursor: pointer;

  @media (min-width: 1025px) {
    &:hover {
      background: #d8d8d8;
    }
  }
}
