@value main-yellow, main-gray, gray-dark from "../variables.module.css";

.container {
  background: #000000;
  color: #ffffff;
  padding: 14px 0;
  width: 200px;
  text-align: center;

  @media (min-width: 1025px) {
    &:hover {
      background-color: main-yellow;
    }
  }

  &:disabled {
    background-color: main-gray;
    cursor: not-allowed;
  }
}

.whyFB {
  color: #c0c0c0;
  transition: color 0.2s linear;

  @media (min-width: 1025px) {
    &:hover {
      color: gray-dark;
    }
  }
}
