@value yellow-dark from '../variables.module.css';

.button {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  background: #ffffff;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #3d3d3d;

  &:hover {
    background-color: #f6f6f6;
  }

  &:disabled {
    background: white;
    color: #dcdcdc;
    cursor: not-allowed;
  }

  @media (max-width: 550px) {
    height: 32px;
    line-height: 32px;
    font-size: 0.9em;
  }
}

.custimized {
  composes: button;
  border-color: yellow-dark;
  color: yellow-dark;
  font-weight: bold;

  &:hover {
    background-color: #ffffff;
  }
}
