.element {
  display: inline-block;
  min-width: 150px;
  height: 45px;
  text-align: center;
  padding: 10px 50px;
  box-sizing: border-box;
  margin-right: 3px;
  margin-bottom: 5px;
}

.last {
  margin-right: 0;
}

.checked {
  composes: element;
  background: #606060;
  color: white;
  cursor: default;
}

.unchecked {
  composes: element;
  background: #f0f0f0;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.25s;

  @media (min-width: 1025px) {
    &:hover {
      background: #d8d8d8;
    }
  }
}
