@value main-yellow from "../variables.module.css";

.wrapper {
  display: flex;
  margin-top: 16px;
}

.radio {
  padding: 20px 0;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  transition: background-color 0.25s;
  cursor: pointer;
  margin-right: 4px;

  @media (min-width: 1025px) {
    &:hover {
      background: #d8d8d8;
    }
  }

  @media (max-width: 550px) {
    width: calc(50% - 2px);
  }
}

.last {
  margin-right: 0;
}

.content__unchecked {
  > svg {
    fill: black;
  }
}

.grayTheme {
  .btnText {
    color: #333333;
  }

  &.checked {
    background-color: #606060;
    cursor: default;

    @media (min-width: 1025px) {
      &:hover {
        background: #606060;
      }
    }

    .btnText {
      color: white;
    }
  }

  .content__checked {
    svg {
      fill: white;
    }
  }
}

.yellowTheme {
  .btnText {
    color: #333333;
  }

  &.checked {
    background-color: main-yellow;
    cursor: default;

    @media (min-width: 1025px) {
      &:hover {
        background: main-yellow;
      }
    }

    .btnText {
      color: black;
    }
  }
}
