@value main-yellow, main-gray, gray-dark from "common/variables.module.css";


.container {
  background: #000000;
  color: #FFFFFF;
  padding: 14px 0;
  // height: 50px;
  width: 200px;
  text-align: center;

  &:hover {
    background: main-yellow;
  }

  &:disabled {
    background: main-gray;
    cursor: not-allowed;
  }
}

.whyFB {
  color: #C0C0C0;
  transition: color 0.2s linear;

  &:hover {
    color: gray-dark;
  }
}
