@value main-yellow, white-light from "common/variables.module.css";

@keyframes slideIn {
  from {
    transform: translateX(100%) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: fixed;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  z-index: 9;
  height: 100%;
  width: 100%;
  max-width: 367px;
  max-height: 241px;
  background-color: #fff;
  border: 4px solid main-yellow;
  overflow: hidden;
  padding: 20px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.2s ease-in-out;
}

.question {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.titleExplanation {
  font-size: 10px;
  color: #626262;
}

.requiredStar {
  color: #c72929;
}

.nextStepButtonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 104px;
}

.nextStepButtonContainer img {
  width: auto;
  height: auto;
  max-width: 216px;
  max-height: 86px;
  position: absolute;
  left: -16px;
  bottom: -12px;
  scale: 0.9;
}

.nextStepButton {
  width: 118px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  background-color: #ccc;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  z-index: 9;
  cursor: default;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #5a5a5a;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.textArea {
  height: 100%;
  max-height: 97px;
  resize: none;
  background-color: #f9f9f9;
}

.active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(248, 248, 248, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  .container {
    top: 50%;
    left: 50%;
    right: auto;
    margin: 0;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.2s ease-in-out;
  }
}

@media (max-width: 374px) {
  .nextStepButtonContainer img {
    left: -24px;
  }

  .nextStepButtonContainer img {
    display: none;
  }
}

@media (max-width: 359px) {
  .nextStepButtonContainer {
    height: 90px;
  }

  .textArea {
    textarea& {
      height: auto;
    }
  }
}
