@value main-yellow, main-black from "common/variables.module.css";

.container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9;
  height: 241px;
  width: 367px;
  background-color: #fff;
  border: 4px solid main-yellow;
  overflow: hidden;
  padding: 20px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2.5rem;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.2);
}

.question {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.question span {
  font-size: 14px;
  color: #626262;
}

.nextStepContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 104px;
}

.nextStepContainer img {
  width: auto;
  height: auto;
  max-width: 216px;
  max-height: 86px;
  position: absolute;
  left: -10px;
  bottom: -10px;
}

.nextStep {
  width: 118px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  z-index: 9;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #5a5a5a;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.range {
  position: relative;
  width: 311px;
  margin-top: 30px;
}

.range input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  position: relative;
  cursor: pointer;
}

/* Chrome, Safari, Opera and Edge Chromium styles */
.range input[type='range']::-webkit-slider-runnable-track {
  background-color: main-yellow;
  border-radius: 0.5rem;
  height: 5px;
}

.range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6.5px; /* Centers thumb on the track */
  background-color: main-black;
  border-radius: 1rem;
  height: 18px;
  width: 18px;
}

/* Firefox styles */
.range input[type='range']::-moz-range-track {
  background-color: main-yellow;
  border-radius: 0.5rem;
  height: 5px;
}

.range input[type='range']::-moz-range-thumb {
  background-color: main-black;
  border: none; /* Removes extra border that FF applies */
  border-radius: 1rem;
  height: 18px;
  width: 18px;
}

.ticks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 4px;
  width: 100%;
  top: -20px;
}

.rangeLabels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
}

.rangeLabels span {
  font-size: 12px;
}

@media (max-width: 767px) {
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(248, 248, 248, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  .container {
    right: 0;
    left: 0;
    margin: 0 7px;
    width: auto;
  }
}

@media (max-width: 360px) {
  .question span {
    font-size: 12px;
  }

  .nextStepContainer img {
    left: -24px;
  }
}

@media (max-width: 280px) {
  .nextStepContainer img {
    display: none;
  }
}
