@value above-tablet, yellow-dark, warning-red from "common/variables.module.css";

.card-container {
  display: flex;
  flex-direction: column;

  @media (min-width: above-tablet) {
    display: grid;
    column-gap: 20px;
  }
}

.card-wrapper {
  margin-bottom: 16px;

  @media (min-width: above-tablet) {
    margin-bottom: 0;
  }
}

.title-submit-data {
  color: yellow-dark;
}

.title-buy-subscription {
  color: warning-red;
}
