@value above-tablet, main-gray, yellow-dark from "common/variables.module.css";

.container {
  height: 390px;
  width: 300px;
  padding: 26px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.actionButton {
  margin-top: 16px;
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
}

.description {
  margin-bottom: 56px;
}

.amountSection {
  display: flex;
  align-items: center;
}

.amount {
  font-size: 56px;
  margin-right: 20px;
}

.topArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helperText {
  color: yellow-dark;
}
