@value main-gray from "common/variables.module.css";

.container {
  width: 200px;
  height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 26px 0;
  border: 1px solid main-gray;
}

.action-button {
  margin-top: 16px;
}
