@value above-tablet from "common/variables.module.css";

.container {
  padding: 60px 60px 0 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.cardSection {
  display: flex;
  flex-direction: column;

  @media (min-width: above-tablet) {
    display: grid;
    column-gap: 20px;
  }
}
