@value above-tablet from "common/variables.module.css";

.container {
  padding: 50px 0 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 24px;

  @media (min-width: above-tablet) {
    margin-bottom: 70px;
  }
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;

  @media (min-width: above-tablet) {
    display: flex;
    flex-direction: row;
  }
}

.divider {
  display: none;
  color: #626262;

  @media (min-width: above-tablet) {
    display: flex;
    align-items: center;
    margin: 0 40px;
  }
}
