@value main-yellow, main-gray, border-gray, main-black from "common/variables.module.css";

.formGroup {
  position: relative;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    transition: color .3s;

    .checkboxInput {
      position: relative;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      border: 1px solid main-gray;
      border-radius: 3px;
      margin-right: 10px;
      transition-property: color, background-color, border;
      transition-duration: .3s;
      cursor: pointer;
    }
    .checkboxText {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.3em;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }

  .checkboxInput:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 3px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  input[type="checkbox"]:checked + label {

    .checkboxInput {
      background-color: main-yellow;
      border: 1px solid main-yellow;
    }

    .checkboxInput:before {
      content: '✓';
      transform-origin: 0% 100%;
      width: 6px;
      height: 12px;
      transform: translate3d(-.1em,-.4em,0) rotate(15deg);
    }
  }

  &.disabled {
    cursor: not-allowed;

    input[type="checkbox"] + label {
      color: main-gray;
      pointer-events: none;

      .checkboxInput {
        border: 1px solid border-gray;
      }
    }
  }
}
