.wrapper {
  display: flex;
  align-items: flex-start;
}

.radio {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 4px;
}

.checked {
  &:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #000;
    top: 4px;
    left: 4px;
  }
}

.label {
  flex: 1;
  margin-left: 8px;
}
