@value main-yellow from "../variables.module.css";

.formGroup {
  position: relative;

  &.block {
    margin-top: 20px;
  }
  &.inline {
    display: inline-block;
  }

  input[type='radio'] {
    display: none;
  }

  .radioCircle {
    font-weight: 300;
    font-size: 1em;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .radioInput {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: 1px solid #000;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #000;
        top: 4px;
        left: 4px;
        transition: transform 0.3s;
        transform: scale(0);
      }

      &:focus {
        outline: 0;
        border-color: main-yellow;
      }
    }
    .radioText {
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize;
      padding-left: 10px;
      transition: color 0.3s;
      font-size: 1em;
      font-weight: 400;
    }
  }

  input[type='radio']:checked + .radioCircle {
    .radioInput {
      &::before {
        transform: scale(1);
      }
    }
  }
}
