@value INPUT_HEIGHT, main-yellow, main-gray from "../variables.module.css";

.wrapper {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: black transparent transparent transparent;
  }
}

.select {
  background: white;
  border: 1px solid main-gray;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 12px;
  padding-right: 31.5px;
  height: INPUT_HEIGHT;
  line-height: INPUT_HEIGHT;

  &:focus {
    border-color: main-yellow;
  }
}
