@value main-yellow, border-gray, main-gray, warning-red, INPUT_HEIGHT, main-gray from "../variables.module.css";

.input {
  width: 100%;
  padding: calc(INPUT_HEIGHT / 2) 16px;
  height: INPUT_HEIGHT;
  line-height: calc(INPUT_HEIGHT / 2);
  border: 1px solid main-gray;

  textarea& {
    height: calc(INPUT_HEIGHT * 6);
  }

  &:focus {
    border-color: main-yellow;
  }
}

.warning {
  composes: input;
  border-color: warning-red;

  &:focus {
    border-color: warning-red;
  }
}

.warning__text {
  color: warning-red;
  display: none;
  position: absolute;
  bottom: -7px;
  transform: translateY(100%);
}

.isWarning {
  display: inherit;
}

::-webkit-input-placeholder {
  color: main-gray;
}
::-moz-placeholder {
  color: main-gray;
}
:-ms-input-placeholder {
  color: main-gray;
}
