@value warning-red from "common/variables.module.css";

.section {
  margin-bottom: 40px;

  @media (max-width: 550px) {
    margin-bottom: 20px;
  }
}

.warning {
  border: 1px solid warning-red;
}

.warning__wording {
  color: warning-red;
}
