@value main-yellow from "../../common/variables.module.css";


.container {
  position: relative;
  border: 1px solid transparent;
  &:hover {
    border-color: main-yellow;

    > .remove__btn {
      visibility: visible;
    }
  }
}

.remove__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  visibility: hidden;
}

.subtitle {
  width: 100%;
  border: none;

  &::placeholder {
    color: #BDBDBD;
  }
}

.textarea {

  &::placeholder {
    color: #C0C0C0;
    font-size: 1rem;
    font-weight: normal;
  }
}
