@value main-yellow, main-gray from "../../common/variables.module.css";


.container {
  position: relative;
  border: 1px solid transparent;
  /* &:hover {
    border-color: main-yellow;

    > .remove__btn {
      visibility: visible;
    }
  } */
}

.remove__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  visibility: hidden;
}

.subtitle {
  width: 100%;
  border: none;

  &::placeholder {
    color: main-gray;
    font-weight: 400;
  }
}

.textarea {

  &::placeholder {
    color: main-gray;
    font-weight: 300;
  }
}

.heading {
  margin-bottom: 12px;

  @media (max-width: 550px) {
    margin-bottom: 0;
  }
}
