.single__select__input {
  width: 320px;

  @media (max-width: 550px) {
    width: 220px;
  }
}

.button__add {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -65px;
  transform: translate(-65px, 100%);
  z-index: 999;

  @media (max-width: 550px) {
    right: -25px;
    transform: translate(-25px, 100%);
  }
}
