version: "2"
services:
  node:
    image: goodjobshare:stage
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - RAZZLE_API_HOST=https://api.goodjob.life
        - RAZZLE_FACEBOOK_APP_ID=1750216878594984
        - RAZZLE_GA_ID=UA-79990667-2
        - RAZZLE_GTM_ID=GTM-KVZ7DZQ
        - RAZZLE_GOOGLE_APP_ID=879657963776-d8j1hq8dk38alp456ncvnq6mqh4f6bua.apps.googleusercontent.com
        - RAZZLE_AMPLITUDE_API_KEY=d0b279a29601ca776f6557710220b79a
        - RAZZLE_SENTRY_ENVIRONMENT=stage
