version: "2"
services:
  node:
    image: goodjobshare:dev
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - RAZZLE_API_HOST=https://api-dev.goodjob.life
        - RAZZLE_FACEBOOK_APP_ID=1844389232511081
        - RAZZLE_GA_MEASUREMENT_ID=G-CYK1FN5G9P
        - RAZZLE_GTM_ID=GTM-KVZ7DZQ
        - RAZZLE_GOOGLE_APP_ID=879657963776-d8j1hq8dk38alp456ncvnq6mqh4f6bua.apps.googleusercontent.com
        - RAZZLE_AMPLITUDE_API_KEY=d0b279a29601ca776f6557710220b79a
