version: "2"
services:
  node:
    image: goodjobshare:production
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - RAZZLE_API_HOST=https://api.goodjob.life
        - RAZZLE_FACEBOOK_APP_ID=1750216878594984
        - RAZZLE_GA_MEASUREMENT_ID=G-WR236FSVVY
        - RAZZLE_GTM_ID=GTM-54PH93D
        - RAZZLE_GOOGLE_APP_ID=879657963776-nb0kdpkb5sfdf0285ov9o353dnt0l5iq.apps.googleusercontent.com
        - RAZZLE_ENVIRONMENT=production
        - RAZZLE_TAP_PAY_APP_ID=125271
        - RAZZLE_TAP_PAY_APP_KEY=app_WBWcR9mkiSMUQ3qZV5tUidkq7vfamUzmdWi5QR33ksT6ttbiZ9BJxbz5Fvma
        - RAZZLE_TAP_PAY_SERVER_TYPE=production
