@value main-yellow, warning-red, gray-dark from "common/variables.module.css";

.heading {
  display: flex;
  letter-spacing: 1px;

  svg {
    width: 30px;
    height: 30px;
    fill: main-yellow;
    margin-right: 12px;

    @media (max-width: 550px) {
      width: 24px;
      height: 24px;
    }
  }
}

.note {
  color: gray-dark;
  > span {
    color: warning-red;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.body {
  background: white;
  width: 100%;
  padding: 48px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  min-height: 400px;

  @media (max-width: 550px) {
    padding: 48px 16px;
    min-height: 70vh;
  }
}

.noPadding {
  padding: 0;
}

.marginTop {
  margin-top: 56px;

  @media (max-width: 850px) {
    margin-top: 32px;
  }
}
