{
  "presets": ["latest", "react", "stage-2"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "dev-expression"
      ]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
