@value white-light, border-gray, main-yellow, yellow-light from "common/variables.module.css";

$padding: 40px;
$paddingS: 16px;

.container {
  display: flex;
  border: 1px solid border-gray;
  flex-direction: column;
}

.info {
  width: 100%;
  background-color: white-light;
  padding: 25px $padding;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.article {
  padding: 0 $padding $padding $padding;

  .heading {
    margin-bottom: 24px;
  }

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.qaWrapper {
  border-top: 1px solid border-gray;
  padding: $padding;

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.recommendIcon {
  svg {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.permissionBlockArticle {
  flex-grow: 1;
  margin-top: -40px;
  padding: 50px 50px;

  @media (max-width: 550px) {
    margin-top: -15px;
    padding: 50px 25px;
  }
}

.functionButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 8px 0 8px;

  @media (max-width: 550px) {
    border-bottom: 1px solid border-gray;
    border-top: 1px solid border-gray;
  }
}
