@value white-light, border-gray, main-yellow, yellow-light from "common/variables.module.css";

$padding: 40px;
$paddingS: 16px;

.container {
  display: flex;
  border: 1px solid border-gray;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.aside {
  width: 345px;
  background-color: white-light;
  padding: $padding;

  @media (max-width: 1280px) {
    width: 30%;
  }

  @media (max-width: 850px) {
    width: 100%;
  }

  @media (max-width: 550px) {
    padding: $padding $paddingS;
  }
}

.infoList {
  @media (max-width: 850px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -32px;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.article {
  padding: $padding;

  .heading {
    margin-bottom: 24px;
  }

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.qaWrapper {
  border-top: 1px solid border-gray;
  padding: $padding;

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.recommendIcon {
  svg {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.permissionBlockArticle {
  flex-grow: 1;
  margin-top: -40px;
  padding: 50px 50px;

  @media (max-width: 550px) {
    margin-top: -15px;
    padding: 50px 25px;
  }
}

/* 檢舉 */
.right {
  position: absolute;
  right: 0;
  display: flex;
  margin-right: 26px;
}
