@value white-light, border-gray, main-yellow, yellow-light from "common/variables.module.css";

$padding: 40px;
$paddingS: 16px;

.container {
  position: relative;
  display: flex;
  border: 1px solid border-gray;
  flex-direction: column;
}

.date {
  position: absolute;
  top: 16px;
  right: 21px;
  font-size: 14px;
  line-height: 1.64;
  color: #969696;
}

.info {
  width: 100%;
  background-color: white-light;
  padding: 25px $padding;

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.article {
  padding: 25px $padding;

  .heading {
    margin-bottom: 24px;
  }

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.qaWrapper {
  border-top: 1px solid border-gray;
  padding: $padding;

  @media (max-width: 550px) {
    padding: $paddingS;
  }
}

.recommendIcon {
  svg {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.permissionBlockArticle {
  flex-grow: 1;
  margin-top: -40px;
  padding: 50px 50px;

  @media (max-width: 550px) {
    margin-top: -30px;
    padding: 50px 25px;
  }
}

.lock {
  margin-right: 5px;
  color: #ed0d5e;
}

.btmMsgBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
