@value above-mobile, gray-dark from "../../common/variables.module.css";

.block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.label {
  color: #333333;
  font-weight: 600;
}

.content {
  margin-left: 5px;
  word-wrap: break-word;
  color: #333333;

  a {
    text-decoration: underline;
  }

  > ul {
    margin-left: 1.3em;
    > li {
      list-style-type: disc;
    }
  }
}

.content.noMargin {
  @media (max-width: above-mobile) {
    margin-left: 0px;
  }
}
