@value gray-dark from "common/variables.module.css";

.block {
  display: flex;
  flex-wrap: wrap;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.label {
  color: #333333;
  font-weight: 600;
}

.content {
  margin-left: 5px;
  word-wrap: break-word;
  color: #333333;

  > ul {
    margin-left: 1.3em;
    > li {
      list-style-type: disc;
    }
  }
}
