@value below-mobile, below-tablet, below-desktop from '../../common/variables.module.css';

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  padding: 6px;

  .label {
    color: #424242;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .value {
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
}

.infoBlocks {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 6px;
  display: flex;
  justify-content: center;

  table {
    @media (max-width: below-tablet) {
      flex: 1;
    }

    tr {
      td {
        position: relative;
        padding: 8.5px 38px;
        vertical-align: middle;

        + td::before {
          content: '';
          display: inline-block;
          width: 0.5px;
          height: 17px;
          background-color: #000;
          vertical-align: middle;

          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @media (max-width: below-desktop) {
      tr {
        td {
          padding: 8.5px 2px;
        }
      }
    }
  }

  + .infoBlocks {
    margin-top: 5px;
  }
}
