@value border-gray, main-orange from "../../common/variables.module.css";

.container {
  border-bottom: 1px solid border-gray;
  padding-top: 24px;
  padding-bottom: 24px;

  &:first-of-type {
    padding-top: 8px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 15px;
}

.qItem,
.aItem {
  display: flex;
}

.qItem {
  margin-bottom: 8px;
}

.qLabel,
.aLabel {
  flex: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid main-orange;
}

.qLabel {
  background-color: main-orange;
  color: #fff;
}

.aLabel {
  color: main-orange;
}
