@value below-mobile from "../../common/variables.module.css";

.heading {
  margin-bottom: 8px;
  display: flex;
  gap: 1rem;
}

.content {
  margin-bottom: 1.5em;
  white-space: pre-line;
  word-break: break-word;
}

@media (max-width: below-mobile) {
  .heading {
    flex-direction: column;
  }
}
