.plans {
  display: flex;
  flex-direction: row;

  .plan {
    flex: 1;

    + .plan {
      margin-left: 24px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 16px;
  }

  .subtitle {
    margin-bottom: 22px;
  }

  .price {
    font-size: 56px;
    margin-right: 10px;
  }
}
