.plans {
  display: flex;
  flex-direction: row;
}

.plan {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;

  + .plan {
    margin-left: 10px;
  }
}
