@value below-mobile from "../../common/variables.module.css";

.captain {
  margin-top: 16px;
}

.plans {
  display: flex;
  flex-direction: row;

  @media (max-width: below-mobile) {
    flex-direction: column;
    align-items: center;
    padding: 0 27px;
  }

  .plan {
    + .plan {
      margin-left: 24px;

      @media (max-width: below-mobile) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}

.plan {
  cursor: pointer;
}

.content {
  padding: 26px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 26px;
  padding-bottom: 26px;

  .title {
    margin-bottom: 16px;
  }

  .subtitle {
    margin-bottom: 22px;
  }

  .price {
    font-size: 56px;
    margin-right: 10px;
  }
}
