@value border-gray from "../../common/variables.module.css";

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.badge {
  border-radius: 3px;
  border: 1px solid border-gray;
  padding: 4px 12px;
  margin-right: 24px;
  margin-top: 3px;
  flex-shrink: 0;
  letter-spacing: 0.03em;

  @media (max-width: 550px) {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 3px 12px;
  }
}
