.container {
  position: relative;
}

.mask {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100px
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: bottom;
}

.maskBottomContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 14px;
}
