@value warning-red, main-gray, main-orange, main-yellow, yellow-bg, yellow-bar, page-gutter, page-gutter-s, below-desktop, below-mobile, below-small, INPUT_HEIGHT from "common/variables.module.css";

.warning {
  border: 1px solid warning-red;
}

.warning__wording {
  color: warning-red;
  text-align: center;
}

.pleaseSelectOne {
  font-size: 1.1em;
  text-align: center;
  margin: 50px 0 30px 0;
}

.formSection {
	margin-bottom: page-gutter;
	@media (max-width: below-desktop) {
		margin-bottom: page-gutter-s;
	}
	.btnL {
		display: block;
	}
}

.formGroup {
	position: relative;
	&.hasError {
		input,
		select {
			border-color: warning-red;
		}
		.inputUnit span {
			border-color: warning-red;
		}
	}
}

.formGroupTwo {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.formGroup {
		float: left;
		width: 46%;
		margin-bottom: 0;
		&:first-child {
			margin-right: 3%;
		}
		&:last-child {
			margin-left: 3%;
		}
	}
}

.formSectionSalary {
  margin-bottom: page-gutter;
  .formGroupTwo .formGroup {
    @media (max-width: 550px) {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      &:last-child {
        margin-top: 30px;
      }
    }
  }
}

.formGroupInline {
	.radioForm {
		display: inline-block;
		vertical-align: middle;
		&:first-child {
			margin-right: 60px;
			@media (max-width: below-small) {
				margin-right: 30px;
			}
			@media (max-width: below-mobile) {
				margin-right: 60px;
			}
		}
	}
}

.formErrorMessage {
	background: rgba(0,0,0,.7);
	color: #fff;
	padding: 8px 10px;
	position: absolute;
	left: 40%;
	top: -20px;
	font-size: .85em;
	font-weight: 400;
	line-height: 1.3em;
	&:before {
		position: absolute;
		bottom: -14px;
		left: 15px;
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-bottom: 7px solid transparent;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid rgba(0,0,0,.7);
	}
}

.checkboxFormGroup .formErrorMessage {
	top: -40px;
	left: -2%;
}

.formInfo {
	background-color: yellow-bg;
	padding: 10px 20px;
	margin-top: 12px;
	@media (max-width: below-mobile) {
		padding: 5px 10px;
	}
	p {
		font-size: 0.9em;
		line-height: 1.5em;
	}
}

.iconLineDivider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  &:before,
  &:after {
    content: '';
    flex: 0 1 calc(50% - 50px);
    height: 2px;
    background-color: main-yellow;
  }
  svg {
    width: 32px;
    height: 32px;
    fill: main-yellow;
  }
}

.formSalaryGroup {
  display: flex;
}

.formInfo {
	background-color: yellow-bar;
	padding: 10px 20px;
	margin-top: 12px;
	@media (max-width: below-mobile) {
		padding: 5px 10px;
	}
	p {
		font-size: .9em;
		line-height: 1.5em;
	}
}

.inputUnit {
	position: relative;
	.unit {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		height: 100%;
		width: 50px;
		border-left: 1px solid main-gray;
		line-height: 42px;
		line-height: calc(INPUT_HEIGHT + 2px);
		font-size: 0.9em;
		text-align: center;
	}
}

.info {
  cursor: pointer;
  color: main-orange;
  font-weight: 400;
}

.radioButton {
	margin-bottom: 40px;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
