.desktop {
    display: flex;
    margin-top: 67px;
    padding-top: 38px;
    padding-right: 131px;
    padding-left: 131px;
    justify-content: center;

    @media (max-width: 1280px) {
        height: 400px;
    }
}

