.container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.image {
  margin-right: 40px;
  flex: 0 0 43%;

  @media (max-width: 550px) {
    flex: 1 1 auto;
    margin-right: 0;
    margin-bottom: 20px;
    order: 1;
  }

  img {
    max-width: 100%;
    @media (max-width: 550px) {
      max-width: 220px;
    }
  }
}

.content {
  flex: 1 1 auto;

  @media (max-width: 550px) {
    text-align: center;
    order: 2;
  }
}

.heading {
  margin-bottom: 20px;
}
