@value main-orange from "common/variables.module.css";

.infoBlock {
    margin: 60px 0;

    @media (max-width: 550px) {
        margin: 40px 0;
    }
    
    p {
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.25em;
        color: main-orange;
        margin-bottom: 8px;
        font-weight: bold;
        margin-top: 32px;
    }
}