@value gray-dark, main-gray, link-blue, border-gray, page-gutter-s, link-blue from "common/variables.module.css";

.container {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  transition-property: background, box-shadow;
  transition-duration: 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1025px) {
    &:hover {
      box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
      .heading {
        color: link-blue;
      }
    }
  }

  @media (max-width: 550px) {
    margin-left: calc(page-gutter-s * -1);
    margin-right: calc(page-gutter-s * -1);
    margin-bottom: 16px;
  }
}

.contentWrapper {
  padding: 24px;
  word-break: break-all;

  @media (max-width: 1024px) {
    padding: 16px;
  }
}

.meta {
  font-size: 14px;
  color: #9a9a9a;
}

.heading {
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
  transition: color, 0.25s;
}

.more {
  display: inline-block;
  color: link-blue;
  margin-top: 12px;
}

.reaction {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  color: main-gray;
  > div {
    margin-right: 24px;
  }
}

.m,
.s {
  &.container {
    height: 100%;
    position: relative;
  }

  .location,
  .salary {
    display: none;
  }

  .contentWrapper {
    padding-bottom: 64px;

    @media (max-width: 1024px) {
      padding-bottom: 56px;
    }
  }

  .reaction {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid border-gray;
  }
}

.l {
  .reaction {
    padding-bottom: 20px;
  }
}

.m,
.s {
  &.container {
    margin-left: 0;
    margin-right: 0;
  }
}

.s {
  &.container {
    font-size: 0.9em;
  }

  .labels {
    color: main-gray;
    margin-bottom: 0;
  }

  .company {
    display: none;
  }

  .heading {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
