@value main-yellow, main-black from "common/variables.module.css";

.wrapper {
  background-color: main-black;
}

.header {
  margin-bottom: 24px;
  padding-top: 24px;
  justify-content: center;

  @media (max-width: 550px) {
    margin-bottom: 20px;
    border-bottom: 1px solid #4f4f4f;
    padding-bottom: 16px;
  }

  .inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .heading {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;

    @media (max-width: 550px) {
      font-size: 18px;
    }
  }

  .subheading {
    color: #ddd;
    letter-spacing: 0.05em;
    font-weight: 300;
    padding-left: 8px;
    @media (max-width: 550px) {
      margin-right: 16px;
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  filter: invert(1);
  width: 120px;
  margin-right: 8px;
}

.fbLike {
  margin-left: 24px;

  @media (max-width: 550px) {
    margin-left: 0;
    margin-top: 8px;
  }
}

.body {
  display: flex;
  justify-content: space-between;
  color: #eaeaea;
  padding-bottom: 16px;
}

.footer {
  border-top: 1px solid #4f4f4f;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #bbb;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}

.g0v {
  width: 170px;
  margin-left: 16px;
}

.links {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.medias {
  flex: 0 0 260px;

  .heading {
    color: main-yellow;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 8px;
  }

  @media (max-width: 850px) {
    display: none;
  }
}
