@value warning-red from "common/variables.module.css";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: 550px) {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .title {
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
    @media (max-width: 550px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  .stepsWrapper {
    display: flex;

    @media (max-width: 550px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  .stepTab {
    @media (max-width: 550px) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &:not(:last-child) {
      width: 166px;
      position: relative;

      @media (max-width: 550px) {
        width: 28%;
      }

      &::after {
        content: '';
        height: 3px;
        background-color: #d8d8d8;
        position: absolute;
        left: 0;
        right: 0;
        top: 17px;
        z-index: 1;
      }
    }

    &::before {
      position: relative;
      z-index: 2;
      content: attr(data-step);
      font-weight: bold;
      color: #ffffff;
      background: #d8d8d8;
      margin-right: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border-radius: 17px;
    }

    &.active {
      color: #555555;

      &::before,
      &::after {
        background-color: #fcd406;
      }
    }
  }
}

.container {
  padding-top: 38px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.warning__wording {
  color: warning-red;
  text-align: center;
}

.nextAction {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .backButton {
    background-color: #ffffff;
    color: #626262;
  }
}
