@value PAGE_TOP, PAGE_TOP_S from "common/variables.module.css";

.wrapper {
  padding-top: PAGE_TOP;
  @media (max-width: 550px) {
    padding-top: PAGE_TOP_S;
  }
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 550px) {
    margin-bottom: 20px;
  }
}
