$below-small: 850px;

.fanPageBlock {
  display: flex;
  align-items: center;

  @media (max-width: $below-small) {
    flex-direction: column;
    align-items: center;
  }
}

.img {
  width: 220px;

  @media (max-width: $below-small) {
    margin-bottom: 30px;
  }
}

.rightContainer {
  margin-left: 45px;

  @media (max-width: $below-small) {
    margin-left: 0;
  }
}

.text {
  margin-bottom: 15px;
}
