@value below-tablet, above-mobile from "../../common/variables.module.css";

.summaryBlock {
  display: flex;
  margin-bottom: 22px;

  @media (max-width: below-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  > * + * {
    margin-left: 21px;
  }
}

.barChart,
.barChartSm,
.averageWeekWorkTime {
  display: flex;
}

.card {
  width: 300px;
  height: 265px;
}

.barChart {
  flex: 1;
  max-width: 547px;
}

.barChartSm {
  display: block;
  width: 100%;
}

.emptyData {
  display: flex;
  justify-content: center;
}

.barCardImage {
  margin: 58px 0;
  width: auto;
  height: 50%;
}

.averageWeekWorkTime {
  @media (max-width: below-tablet) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

.averageWeekWorkTimeView {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0 auto;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.61;
    color: #333;
  }

  .body {
    font-size: 16px;
    color: #333;

    em {
      font-size: 71px;
    }
  }

  .footer {
    font-size: 14px;
    line-height: 1.64;
    color: #969696;
  }

  .link {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: 600;
  }
}
