@value main-yellow, main-orange from "../../../common/variables.module.css";

.container {
  position: relative;
  border: 1px solid transparent;
  &:hover {
    border-color: main-yellow;

    > .remove__btn {
      visibility: visible;
    }
  }
}

.remove__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  visibility: hidden;
}

.property__title {
  color: main-orange;
  font-size: 1.25rem;
  width: 30px;
}

.input {
  color: #969696;
  border: none;

  &::placeholder {
    color: #C0C0C0;
  }
}

.textarea {

  &::placeholder {
    color: #C0C0C0;
    font-size: 1rem;
  }
}
