version: 2
jobs:
    build:
        working_directory: ~/app
        docker:
            - image: node
        steps:
            - checkout
            - run:
                name: Install Dependencies
                command: yarn install
            - run:
                name: Lint and Unit test
                command: npm test
            - run:
                name: Build
                command: npm run build
            - deploy:
                name: Trigger Build For Master Branch
                command: |
                    if [ "${CIRCLE_BRANCH}" == "master" ]; then
                        curl --user ${CIRCLE_API_TOKEN}: \
                            --data build_parameters[CIRCLE_JOB]=deploy_docker \
                            --data revision=$CIRCLE_SHA1 \
                            https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
                    fi
    deploy_docker:
        working_directory: ~/app
        docker:
            - image: buildpack-deps
        steps:
            - checkout
            - run:
                name: Install Docker client
                command: |
                    set -x
                    VER="17.03.0-ce"
                    curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
                    tar -xz -C /tmp -f /tmp/docker-$VER.tgz
                    mv /tmp/docker/* /usr/bin
            - run:
                name: Install Docker Compose
                command: |
                    set -x
                    curl -L https://github.com/docker/compose/releases/download/1.13.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
                    chmod +x /usr/local/bin/docker-compose
            - setup_remote_docker
            - run:
                name: Build Docker Image
                command: docker-compose -f .circleci/docker-compose-stage.yml build
            - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
            - run: docker-compose -f .circleci/docker-compose-stage.yml push
