version: "2"
services:
  node:
    image: goodjobshare:dev
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - RAZZLE_API_HOST=https://api-dev.goodjob.lifeARG RAZZLE_CONTENTFUL_API_HOST
        - RAZZLE_FACEBOOK_APP_ID=1844389232511081
        - RAZZLE_GA_ID=UA-79990667-2
        - RAZZLE_GTM_ID=GTM-KVZ7DZQ
