version: "2"
services:
  node:
    image: goodjobshare:stage
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - RAZZLE_API_HOST=https://api.goodjob.life
        - RAZZLE_FACEBOOK_APP_ID=1750216878594984
        - RAZZLE_GA_ID=UA-79990667-2
        - RAZZLE_GTM_ID=GTM-KVZ7DZQ
