@value main-yellow from "common/variables.module.css";

.dialog {
  display: flex;
  align-items: center;
  background: #FFFAE1;
  border: 1px solid main-yellow;
  border-radius: 3px;
}

.exclamation {
  color: main-yellow;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 17px;
}
