.content {
  padding: 40px 18px;
}

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.37;
  letter-spacing: 1.71px;
  text-align: center;
  color: #000000;
}

.subTitle {
  margin-top: 23px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ec7910;
  display: block;

  &.hidden {
    display: none;
  }
}

.description {
  margin-top: 14px;
  margin-bottom: 44px;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #000000;
}
