.backgroundMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  z-index: 999;

  &.hidden {
    display: none;
  }
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 360px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    max-width: 100%;
  }

  @media (min-width: 850px) {
    width: 720px;
  }

  .body {
    flex: 1;
  }
}

.body {
  padding: 35px 19px 12px 19px;

  display: flex;
  flex-direction: column;

  @media (min-width: 850px) {
    padding-left: 110px;
    padding-right: 110px;
  }

  .pager {
    flex: 1;
  }
}

.header {
  position: relative;

  .closeBtn {
    position: absolute;
    top: 23px;
    right: 23px;
  }
}

.header {
  padding: 20px 24px;
  min-height: 65px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.11);
}

.closeBtn {
  .icon {
    width: 19px;
    height: 19px;
    fill: #5a5a5a;
  }
}

.navigationBar {
  margin-top: 30px;
  display: flex;

  .progress {
    width: 100px;
  }

  .navigator {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.submission {
  margin-top: 16px;
  display: none;

  &.visible {
    display: block;
  }
}

.hidden {
  display: none;
}
