.backgroundMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.9);
  display: flex;
  justify-content: center;
  z-index: 999;

  &.hidden {
    display: none;
  }
}

.container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 360px;
  background: #ffffff;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .body {
    flex: 1;
  }
}

.body {
  display: flex;
  flex-direction: column;

  .frame {
    flex: 1;
  }
}

.frame {
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .page {
    width: 100%;
    height: 100%;
    white-space: normal;
  }
}

.page {
  display: inline-flex;
  flex-direction: column;

  .question {
    flex: 1;
  }
}

.question {
  position: relative;

  .scrollable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}

.header {
  position: relative;

  .closeBtn {
    position: absolute;
    top: 23px;
    right: 23px;
  }
}

.closeBtn {
  .icon {
    width: 19px;
    height: 19px;
    fill: #5a5a5a;
  }
}

.navigationBar {
  margin-top: 30px;
  display: flex;

  .progress {
    width: 100px;
  }

  .navigator {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
