$main-color: #fcd406;

.progressBar {
  width: 100%;
  height: 20px;
  border: 1px solid $main-color;

  .done {
    height: 100%;
    background-color: $main-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #969696;

  .label {
    margin-bottom: 5px;
  }
}
