.feedback {
  margin-top: 93px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.goodjob {
  width: 97px;
  height: 25px;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 9px;
    background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .count:before {
    content: '好';
    margin-right: 10px;
  }
}

.share {
  margin: 0px 14px;
  &:before {
    content: '分享';
    margin-right: 15px;
  }

  .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 14px;

    &.facebook {
      background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &.twitter {
      background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

