.container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 220px;
  margin-bottom: 24px;
}
