@value above-medium, above-mobile from "common/variables.module.css";

.container {
  padding: 20px 10px 0 10px;

  @media (min-width: above-mobile) {
    padding: 40px 100px 0 100px;
  }

  @media (min-width: above-medium) {
    padding: 60px 340px 0 340px;
  }

  .tabs {
    margin-bottom: 24px;
  }
}
