@value main-yellow from '../../common/variables.module.css';

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 7.75px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 5px;
  border: 1px solid main-yellow;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;
  height: fit-content;

  .bellContainer {
    position: relative;

    img {
      display: block;
      width: 10.5px;
      height: 13.36px;
      transition: all 0.2s ease;
    }

    .bellBlack {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &.subscribed {
    background-color: #fceea7;
    transform: none;

    .bellWhite {
      opacity: 0;
    }
    .bellBlack {
      opacity: 1;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(.subscribed):hover {
      background-color: #fceea7;
      transform: scale(1.03);

      .bellWhite {
        opacity: 0;
      }
      .bellBlack {
        opacity: 1;
      }
    }
  }
}
