@value main-yellow from "common/variables.module.css";

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
  height: 30px;
  padding: 4px 7px 3px 18px;
  background: #FFFAE1;
  border: 1px solid main-yellow;
  border-radius: 3px;
}
