@value yellow-bar, gray-dark, main-gray, main-yellow, warning-red from "../../common/variables.module.css";
$below-mobile: 550px;
$below-small: 850px;
$above-desktop: 1025px;
$below-desktop: 1024px;
$block-gutter-l: 70px;
$block-gutter-m: 40px;
$block-gutter-s: 20px;
$page-gutter: 40px;
$page-gutter-s: 15px;
$inner-wrap-m: 964px;
$gray: #b4b4b4;
$gray-dark: #777;
$blue: #325bbd;
$bold: 700;

@define-mixin heading-style {
  font-size: 2.1em;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  @media (max-width: $below-small) {
    font-size: 1.8em;
  }
}

@define-mixin font-p {
	font-size: 1.13em;
	line-height: 1.5em;
	color: #333;
	@media (max-width: $below-small) {
		font-size: 1em;
	}
}

@define-mixin font-p-m {
	font-size: 1em;
	line-height: 1.6em;
	color: #333;
}

@define-mixin hover-color $color {
	transition: color .2s;
	@media (min-width: $above-desktop) {
		&:hover {
			color: $color;
		}
	}
}

.searchResult {
  margin-bottom: $block-gutter-l;
  .heading {
    @media (max-width: $below-mobile) {
      font-size: 1.5em;
    }
  }
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $below-mobile) {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .label {
    display: inline-block;
    position: relative;
    top: 3px;

    @media (max-width: $below-mobile) {
      flex: 0 0 65px;
    }
  }
  .select {
    display: inline-block;
    max-width: 225px;
    border-color: $gray;

    @media (max-width: $below-mobile) {
      max-width: initial;
      flex: 1 1 auto;
    }
  }
}

.heading {
  @mixin heading-style;
  text-align: center;
  margin-bottom: $block-gutter-m;
  @media (max-width: $below-mobile) {
    margin-bottom: $block-gutter-s;
  }
}

.bar {
  background-color: yellow-bar;
  padding: 5px;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  &.hardly {
    background-color: main-gray;
  }
  &.sometimes {
    background-color: gray-dark;
  }
  &.usually {
    background-color: main-yellow;
  }
  &.always {
    background-color: warning-red;
  }
}

.sector {
  color: main-gray;
}
