@define-mixin heading-style-l {
  font-size: 2.3em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  font-weight: 400;
  @media (max-width: $below-small) {
    font-size: 2em;
  }
}

@define-mixin hover-bg-color $bgcolor, $color {
	transition: background-color .2s, color .2s;
	@media (min-width: $above-desktop) {
		&:hover {
			background-color: $bgcolor;
			color: $color;
		}
	}
}

$nav-height-l: 54px;
$nav-height-s: 50px;

$gray-light: #eeeeed;
$primary-color: #fcd406;

$below-small: 850px;
$below-medium: 1280px;
$below-mobile: 550px;
$below-desktop: 1024px;
$above-desktop: 1025px;

$inner-wrap-l: 1264px;
$page-gutter: 40px;
$page-gutter-s: 15px;

.pageBanner {
  background-color: #4f4f4f;

  @media (max-width: $below-small) {
    margin-top: $nav-height-s;
  }

  .bannerImage {
    display: inline-block;
    width: 319px;
    height: 133px;
    margin-right: 58px;

    @media (max-width: 850px) {
      width: 50%;
      margin-right: 2%;
      height: auto;
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  .campaignItem {
    position: relative;
    display: inline-flex;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-right: 65px;
    box-shadow: 8px 8px black;
    vertical-align: top;
    margin-top: 29px;

    @media (max-width: 850px) {
      padding: 16px;
      font-size: 18px;
    }

    @media (max-width: 550px) {
      margin-bottom: 32px;
    }

    &:hover {
      background-color: #FCD406;
    }

    &.active {
      background-color: #FCD406;
      cursor: default;

      &::before {
        content: "";
        position: absolute;
        top: -29px;
        left: 50%;
        margin-left: -9px;
        display: block;
        border: 14px solid transparent;
        border-bottom-width: 0;
        border-top-color: #FCD406;
      }
    }
  }
}

.btnS {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  text-align: center;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0 auto;
  cursor: pointer;
  transition: background .3s, color .3s, border .3s;
  svg {
    margin-top: -3px;
    margin-right: 5px;
  }
}

.btnYellowLine {
  background-color: #fff;
  border: 1px solid $primary-color;
  @mixin hover-bg-color $gray-light;
}
