@value above-small, below-small, above-desktop, main-yellow, link-blue from "../variables.module.css";

.permissionBlock {
  display: inline-block;
  border-radius: 0px;
  background-color: white;

  .container {
    border: 1px solid #fcd406;
    border-radius: 4px;
    background-color: white;
    padding: 50px 40px;
    margin: auto;
  }
}

.permissionSimpleBlock {
  border: 1px solid main-yellow;
  border-radius: 4px;

  .container {
    max-width: 500px;
    margin: auto;
  }
}

.simple {
  cursor: pointer;

  @media (min-width: above-desktop) {
    &:hover {
      .headingIcon {
        color: link-blue;
      }
    }
  }
}

.ctaText {
  display: block;
  text-align: center;

  & + .ctaText {
    margin-top: 23px;
  }
}

.ctaButtonContainer {
  text-align: center;
  margin-top: 30px;
}

.descriptionContainer {
  margin: 20px 10px;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  & + * {
    margin-top: 20px;
  }
}

.headingIcon {
  display: inline;
  font-size: 16px;
}

.heading {
  display: inline;
}

.authenticatedGroup {
  @media (max-width: below-small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    font-size: 1em;
    font-weight: 700;

    @media (min-width: above-small) {
      & + .button {
        margin-left: 10px;
      }
    }

    @media (max-width: below-small) {
      & + .button {
        margin-top: 16px;
      }
    }
  }
}
