@value above-small, above-desktop, main-yellow, link-blue from "common/variables.module.css";

.permissionBlock {
  display: inline-block;
  border-radius: 0px;
  background-color: white;

  .container {
    border: 1px solid #fcd406;
    border-radius: 4px;
    background-color: white;
    padding: 50px 40px;
    margin: auto;
  }
}

.permissionSimpleBlock {
  border: 1px solid main-yellow;
  border-radius: 4px;

  .container {
    max-width: 500px;
    margin: auto;
  }
}

.simple {
  cursor: pointer;

  @media (min-width: above-desktop) {
    &:hover {
      .headingIcon {
        color: link-blue;
      }
    }
  }
}

.ctaText {
  display: block;
  text-align: center;

  & + .ctaText {
    margin-top: 23px;
  }
}

.ctaButtonContainer {
  text-align: center;
  margin-top: 30px;
}

.descriptionContainer {
  margin: 20px 10px;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  & + * {
    margin-top: 20px;
  }
}

.headingIcon {
  display: inline;
  font-size: 16px;
  margin-right: 10px;
}

.heading {
  display: inline;
}

.loginBtnContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;

  @media (max-width: above-small) {
    flex-direction: column;
    height: 8rem;
    align-items: center;
  }
}

.authenticatedGroup {
  .button {
    font-size: 1em;
    font-weight: 700;

    & + .button {
      margin-left: 10px;
    }
  }
}

.loginTitle {
  margin-bottom: 34px;
}
