

.permissionBlock {
  border: 1px solid #FCD406;
  border-radius: 5px;
  background-color: #FFFBE8;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.21);
}

.container {
  max-width: 500px;
  margin: auto;
}

.ctaText {
  font-weight: 300;
}

.ctaButtonContainer {
  text-align: center;
  margin-top: 30px;
}

.descriptionContainer {
  margin: 20px 10px;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.lockIcon {
  display: inline;
  font-size: 36px;
  margin-right: 15px;
}

.heading {
  display: inline;
}
