.container {
  margin: 40px;
}

.inArticleAdContainer {
  max-width: 800px;
  background-color: lightgray;
  padding: 20px;
}

.squareDisplayAdContainer {
  max-width: 300px;
  max-height: 250px;
}

.horizontalDisplayAdContainer {
  max-width: 728px;
  max-height: 90px;
}

.verticalDisplayAdContainer {
  max-width: 300px;
  max-height: 600px;
}

.inFeedAdForSalaryTableContainer {
  max-height: 200px;
}

.h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
