$block-gutter-l: 40px;
$below-small: 850px;
$below-mobile: 550px;
$block-gutter-m: 40px;
$gray: #b4b4b4;
$warning: #d50000;

@define-mixin clear {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.showSearchbar {
  @mixin clear;
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
    label {
      color: $gray;
    }
    input[type='text'] {
      border-color: $gray;
    }
    button {
      background-color: $gray;
    }
  }

  .type {
    float: left;
    margin-top: 10px;
    padding-left: 40px;
    @media (max-width: $below-small) {
      width: 40%;
      padding-left: 0;
    }
    @media (max-width: $below-mobile) {
      float: none;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .form {
    float: left;
    width: 440px;
    @media (max-width: $below-small) {
      width: 60%;
    }
    @media (max-width: $below-mobile) {
      float: none;
      width: 100%;
    }
  }
  .inputWrapper {
    display: inline-block;
    width: 380px;
    @media (max-width: $below-small) {
      width: 100%;
    }

    .searchBtn {
      top: 10px;
      right: 0;
    }
  }
}

.section {
  padding-top: $block-gutter-l;
  padding-bottom: $block-gutter-l;
  @media (max-width: $below-small) {
    padding-top: $block-gutter-m;
    padding-bottom: $block-gutter-m;
  }
}

.formGroup {
  position: relative;
  &.has-error {
    input,
    select {
      border-color: $warning;
    }
    .input-unit span {
      border-color: $warning;
    }
  }

  .inline {
    .radioForm {
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        margin-right: 60px;
        @media (max-width: $below-small) {
          margin-right: 30px;
        }
        @media (max-width: $below-mobile) {
          margin-right: 60px;
        }
      }
    }
  }
}
