@value below-small, below-mobile, above-mobile from "common/variables.module.css";

$gray: #b4b4b4;

.container {
}

.subRouteWrapper {
  padding-top: 18px;

  @media (min-width: above-mobile) {
    padding-top: 40px;
  }
}

.status {
  position: relative;
  padding-top: 1em;
  min-height: 112px;
}

.noResult {
  background-color: #fff;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color: $gray;
  letter-spacing: 0.1em;

  @media (max-width: below-mobile) {
    min-height: 30vh;
  }
}
