@import "../common/global.module.css";

@value primary-font from "../common/variables.module.css";

html,
body {
  font-family: primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  border: 0;
  margin: 0;
}

.App {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  a {
    cursor: pointer;
    text-decoration: none;
  }
}
