@import "../common/reset.module.css";
@import "../common/global.module.css";

@value primary-font, white-light, NAV_HEIGHT, NAV_MOBILE_HEIGHT from "../common/variables.module.css";

.App {

}

.content {
	padding-top: NAV_HEIGHT;
	min-height: 100vh;
	@media (max-width: 850px) {
		padding-top: NAV_MOBILE_HEIGHT;
	}
}


/* gloabl style start */
body, html {
	font-family: primary-font;
	font-weight: 400;
	color: #111;
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0,0,0,.2);
	overflow-x: hidden;
	background-color: white-light;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

svg {
	vertical-align: middle;
}

p {
  font-size: 1.13em;
	line-height: 1.5em;
	color: #333;
	@media (max-width: 850px) {
		font-size: 1em;
	}
}

/* global style end */
