@value main-black from "../common/variables.module.css";

.wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: main-black;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  fill: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  > ul {
    margin: 0;

    .navItem {
      outline: 0;

      @media (min-width: 851px) {
        display: inline-block;
        margin-left: 20px;
        line-height: 67px;

        > a {
          position: relative;
          display: block;
          height: 100%;
          padding-left: 10px;
          padding-right: 10px;
          color: #fff;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 0.08em;
        }
      }
    }
  }

  .buttonArea {
    display: flex;

    > button {
      flex: 1;
      background-color: transparent;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
      outline: 0;
    }

    .leaveDataBtn {
      padding: 10px 30px;
      border: 1px solid #fff;
      white-space: nowrap;
    }

    .loginBtn {
      padding-left: 20px;
      border: 0;
    }
  }
}
