.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  .textarea {
    flex: 1;
  }
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;

  & + .cell {
    margin-top: 11px;
  }
}

.button {
  width: 160px;
  padding: 0;

  svg {
    margin-right: 5px;
  }
}

.textarea {
  position: relative;
  margin-top: 18px;
}
