@value border-gray, border-gray from "common/variables.module.css";

.toggle {
  position: relative;

  .popover {
    position: absolute;
    display: block;
    z-index: 10;
    background-color: #fff;
    border: 1px solid border-gray;
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    &:before, &:after {
      position: absolute;
      z-index: -1;
      content: '';
      left: calc(50% - 5px);
      border-style: solid;
      border-width: 5px;
      border-top-width: 0;
      border-color: transparent;
    }

    &:before {
      top: -6px;
      border-bottom-color: border-gray;
    }

    &:after {
      top: -5px;
      border-bottom-color: #fff;
    }
  }
}
