@value border-gray, border-gray from "common/variables.module.css";

.popoverToggle {
  position: relative;
  height: 100%;
  cursor: pointer;
}

.popover {
  position: absolute;
  display: block;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0, .2);
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  &:before, &:after {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 3px);
    border-style: solid;
    border-width: 6px;
    border-top-width: 0;
    border-color: transparent;
  }

  &:before {
    top: -7px;
    border-bottom-color: rgba(0,0,0, .2);
  }

  &:after {
    top: -6px;
    border-bottom-color: #fff;
  }
}
