@value main-yellow, main-black, border-gray, main-gray NAV_HEIGHT, NAV_MOBILE_HEIGHT, above-tablet from "common/variables.module.css";

.root {
  @media (max-width: 850px) {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header {
  background-color: main-black;
  height: NAV_HEIGHT;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.11);
  font-weight: 300;

  @media (max-width: 850px) {
    height: NAV_MOBILE_HEIGHT;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.inner {
  height: 100%;
  transition: transform;
  display: flex;

  .searchbar {
    flex: 1;
  }
}

.searchbarWrapper {
  display: flex;
  align-items: center;

  @media (max-width: 850px) {
    display: none;
  }

  &.mobile {
    display: none;

    @media (max-width: 850px) {
      display: flex;
    }
  }
}

.logo,
.logoSm {
  > a {
    display: block;
  }

  svg {
    transform: scale(0.8) translateY(6px);
    transform-origin: 0% 50%;
    fill: #fff;
  }
}

.logo {
  flex: 0 0 170px;
  display: block;

  @media (max-width: 850px) {
    display: none;
  }
}

.logoSm {
  display: none;

  @media (max-width: 850px) {
    display: block;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.nav {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: none;
  }

  @media (max-width: 850px) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    background-color: main-black;
    position: fixed;
    top: NAV_MOBILE_HEIGHT;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    flex-direction: column;
    justify-content: flex-start;

    &.isNavOpen {
      opacity: 1;
      visibility: visible;
    }

    .logo {
      display: block;
      padding: 0;
      margin: 0;
      margin-top: 37px;
      max-height: 40px;
      width: 130px;
    }
  }
}

.buttonsArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;

  @media (max-width: 850px) {
    flex-direction: column;
    margin-left: 0;

    .leaveDataBtn {
      margin-bottom: 17px;
    }
  }
}

.leaveDataBtn {
  display: flex;
  background-color: main-yellow;
  height: 36px;
  border-radius: 1.5em;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 0.92em;
  font-weight: 400;
  letter-spacing: 1px;
  transition-property: background, color;
  transition-duration: 0.3s;

  svg {
    width: 20px;
    height: 20px;
    fill: main-black;
    margin-left: 8px;
  }

  @media (min-width: 1025px) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.plansLink {
  color: #fff;
  text-transform: lowercase;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-property: color;
  transition-duration: 0.3s;
  margin-bottom: 17px;

  @media (min-width: above-tablet) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  &:hover {
    color: main-yellow;
  }
}

.loginBtn,
.userNameBtn {
  color: #fff;
  text-transform: lowercase;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 7px;
  transition-property: color;
  transition-duration: 0.3s;
  padding-right: 20px;
  padding-left: 20px;
}

.loginBtn {
  border-radius: 1.5em;
  border: 1px solid #fff;

  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 8px;
    transition-property: fill;
    transition-duration: 0.3s;
  }

  @media (min-width: 851px) {
    &:hover {
      border-color: main-yellow;
      color: main-yellow;
      svg {
        fill: main-yellow;
      }
    }
  }
  @media (max-width: 850px) {
    margin-left: 0;
  }
}

.userNameBtn {
  /* Caret */
  &::after {
    content: '';
    display: inline-block;
    box-sizing: box-model;
    width: 8px;
    height: 5px;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 0;
    margin-left: 5.5px;
  }

  &:hover {
    color: main-yellow;

    &::after {
      border-top-color: main-yellow;
    }
  }

  @media (max-width: 850px) {
    padding: 0;
  }
}

.popover {
  left: calc(50% - 60px);
  width: 120px;
  top: calc(100% + 4px);

  .popoverItem {
    font-size: 14px;
    display: block;
    font-weight: 400;
    li {
      border-bottom: 1px solid border-gray;
      transition: color 0.3s;

      a,
      button {
        display: block;
        padding: 12px;
        width: 100%;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: main-gray;
      }
    }
  }
}

.mHeaderButton {
  @media (min-width: 851px) {
    display: none;
  }

  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  display: block;
  transform: translate(0, 0);
  padding: 9px 19px 0 19px;

  &::before,
  &::after,
  span {
    background: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin: 7px 0;
    transition: all 0.2s ease-out;
    transform-origin: 50% 50%;
  }

  &.isNavOpen {
    &::before {
      transform: rotate(45deg) translate(5px, 8px);
    }
    &::after {
      transform: rotate(-45deg) translate(5px, -8px);
    }
    span {
      opacity: 0;
    }
  }
}
