@value white-light, border-gray from "common/variables.module.css";

.container {
  display: flex;
  border: 1px solid border-gray;
}

.aside {
  width: 345px;
  background-color: white-light;
  padding: 40px;
}

.main {
  flex: 1;
  padding: 40px 48px;
}

.heading {
  margin-bottom: 24px;
}
