@value main-yellow from "common/variables.module.css";

.backBtn {
  position: absolute;
  margin-top: 6px;

  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: .25s;

  svg {
    width: 28px;
    height: 26px;
    transform: rotate(180deg);
    margin-right: 16px;
    transition-property: fill;
    transition-duration: .25s;
  }

  @media (min-width: 1025px) {
    &:hover {
      color: main-yellow;
      svg {
        fill: main-yellow;
      }
    }
  }
}
