@value gray-dark, main-gray from "../common/variables.module.css";

section {
  padding: 5px;
  .heading {
    .serialNo {
      color: black;
      margin: 0 10px 0 0;
    }
    color: main-gray;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .comment {
    color: gray-dark;
  }
  .reaction {
    color: main-gray;
    margin: 10px 0;
  }
}
