@value below-small, above-small from "common/variables.module.css";

.container {
  display: flex;
  justify-content: center;
}

.leftContainer {
  flex-shrink: 1;
}

.wrapper {
  @media (min-width: above-small) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.headingBlock {
  position: relative;
}

.breadCrumb {
  margin-bottom: 16px;

  @media (min-width: above-small) {
    margin-bottom: 32px;
  }
}

.back {
  margin-bottom: 25px;
}

.section {
  padding-top: 25px;
}

.functionButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 8px 0 8px;

  @media (max-width: 550px) {
    border-bottom: 1px solid border-gray;
    border-top: 1px solid border-gray;
    margin-bottom: 5px;
  }
}

.sideAds {
  width: 160px;
  height: 600px;
  flex-shrink: 0;
  margin-right: 16px;

  @media (max-width: below-small) {
    display: none;
  }
}

.topMsgButton {
  margin-right: 5px;
  flex-shrink: 0;
}
