@value gray-dark from "common/variables.module.css";

.block {
  margin-bottom: 32px;
}

.label {
  color: gray-dark;
  margin-bottom: 4px;
}

.content {
  > ul {
    margin-left: 1.3em;
    > li {
      list-style-type: disc;
    }
  }
}
