@value border-gray from "../common/variables.module.css";

.container {
  padding: 25px 0 20px 0;
  border-bottom: 1px solid border-gray;
  &:last-child {
    border-bottom: none;
  }
  .question {
    display: flex;
    .q {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background-color: #EC7910;
      text-align: center;
      padding: 5px 7px;
    }
  }
  .answer {
    display: flex;
    .a {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 1px solid #EC7910;
      text-align: center;
      padding: 5px 7px;
    }
  }
  .content {
    margin-left: 15px;
  }
}
