@value border-gray, main-gray, main-yellow from "common/variables.module.css";

.container {
  display: flex;
  border: 1px solid border-gray;
  border-top: 0;
}

.left {
  flex: 1;
  display: flex;
  @media (max-width: 550px) {
    width: 100%;
  }

  > div {
    padding: 16px 32px;
    border-right: 1px solid border-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 550px) {
      padding: 8px;
      width: calc(100% / 2);
      font-size: .9em;

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}

.right {
  position: relative;
  width: 85px;
}

.popoverToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;

  span, &:after, &:before {
    content: '';
    display: inline-block;
    background-color: main-gray;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin: 2.5px;
  }
}

.popover {
  left: calc(50% - 60px);
  width: 120px;
  bottom: -35px;
  height: 38px;

  .popoverItem {
    font-size: 14px;
    display: block;
    li {
      padding: 12px 0;
      padding-left: 16px;
      border-bottom: 1px solid border-gray;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.share {
  svg {
    width: 100%;
    height: 100%;
    transition: fill .25s;
  }
  .button {
    width: 18px;
    height: 18px;
    fill: main-gray;
    margin-left: 8px;
    &:hover {
      svg {
        fill: main-yellow;
      }
    }
  }
}
