@value border-gray from "../common/variables.module.css";

.container {
  background-color: white;
  border: 1px solid border-gray;
  > div {
    padding: 20px;
  }

  .createdDate {
    color: gray-dark;
  }

  .heading {
    margin: 10px 0;
  }

  .reaction {
    border-top: 1px solid border-gray;
    padding: 5px 20px;
    display: flex;
    > div {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
