/*@value main-gray, gray-light from "../common/variables.module.css";*/

.container {
  margin-top: 50px;
  .recommendationZone {
    display: flex;
    > section {
      flex: 1;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
