.container {
  margin-bottom: 190px;
}

.title {
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 2.06px;
  text-align: center;
  color: #000000;
  margin-bottom: 42px;
}

.index {
  margin-bottom: 36px;
}
