@value below-tablet, link-blue from "../common/variables.module.css";

.card {
  display: flex;
  flex-direction: column;
  width: 265px;
  height: 265px;

  @media (max-width: below-tablet) {
    width: 100%;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  text-align: center;
}

.footer {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  margin-top: 8px;
}

.footerLink {
  color: link-blue;
}

.footerPlain {
  color: #969696;
}
