@value below-desktop, below-small, below-mobile, page-gutter-s from "../common/variables.module.css";

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.leftContainer {
  flex-shrink: 1;
  width: 100%;

  @media (max-width: below-small) {
    padding: 0;
  }
}

.sideAds {
  width: 160px;
  height: 600px;
  flex-shrink: 0;
  margin-right: 16px;

  @media (max-width: below-small) {
    display: none;
  }
}

.interactive {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;

  @media (max-width: below-mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  > * + * {
    @media (min-width: below-mobile) {
      margin-left: 3em;
    }

    @media (max-width: below-mobile) {
      margin-top: 1em;
    }
  }
}

.scoreCards {
  display: flex;
  gap: 21px;
  margin-bottom: 50px;

  @media (max-width: below-mobile) {
    flex-direction: column;
    gap: 14px;
  }
}

.experience + .experience {
  margin-top: 75px;
}
