@value main-yellow, above-desktop from "common/variables.module.css";

.group {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid main-yellow;
  background: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.element {
  display: flex;
  flex: 0 50%;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 48px;

  border-bottom: 1px solid main-yellow;
  border-right: 1px solid main-yellow;

  @media (min-width: above-desktop) {
    flex: 0 1 auto;
    border-bottom: 0;
    &:last-child {
      border-right: 0;
    }
  }
}

.active {
  background: main-yellow;
}
