@value main-yellow from "common/variables.module.css";

.group {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid main-yellow;
  background: white;
  flex-direction: column;
  @media (min-width: 767px) {
    flex-direction: row;
  }
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 48px;

  &:not(:last-child) {
    border-bottom: 1px solid main-yellow;
  }

  @media (min-width: 767px) {
    &:not(:last-child) {
      border-bottom: 0;
      border-right: 1px solid main-yellow;
    }
  }
}

.active {
  background: main-yellow;
}
