@value yellow-dark, main-black, main-yellow, main-gray from 'common/variables.module.css';

.root {
  display: flex;
  align-items: center;
  position: relative;
}

.progress {
  width: 100%;
}

.start, .end {
  flex-grow: 0;
  flex-basis: 40px;
  font-size: 14px;
}

.end {
  text-align: right;
}

.bar {
  flex-grow: 1;
  display: block;
  position: relative;
}

.totalData {
  position: absolute;
  top: -28px;
  right: -10px;
  font-size: 13px;
  text-align: center;

  &::after {
    content: "▼";
    display: block;
    margin-top: 1px;
    font-size: 11px;
  }
}

.numbers {
  font-size: 12px;
  margin-left: 8px;
  letter-spacing: 1px;
}

.goal {
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 13px;
  color: main-gray;
}

.hideDesktop {
  display: none;

  @media (max-width: 850px) {
    display: inline-block;
  }
}

/* COLOR */
.yellow {
  .progress {
    background-color: yellow-dark;
  }

  .bar {
    background-color: main-black;
  }
}

.black {
  .progress {
    background-color: #272727;
  }

  .bar {
    background-color: main-yellow;
  }

  .numbers {
    color: #999999;
  }
}

.gray {
  .progress {
    background-color: #E8E8E8;
  }

  .bar {
    background-color: main-yellow;
  }

  .numbers {
    color: #E8E8E8;
  }

  .totalData {
    color: main-gray;
  }
}

/* SIZE */

.l {
  min-width: 270px;

  .progress, .bar {
    height: 10px;
    border-radius: 10px;
  }
}


.s, .m {
  .progress, .bar {
    height: 5px;
    border-radius: 5px;
  }
}

.s {
  min-width: 270px;
}

.m {
  .totalData {
    transform: scale(.9);

    &::after {
      transform: scale(.8);
    }
  }
}

.m, .l {
  .totalData {
    @media (max-width: 850px) {
      right: -50px;
    }  
  }
}
