@value main-yellow, yellow-light, NAV_HEIGHT, NAV_MOBILE_HEIGHT from "common/variables.module.css";

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: main-yellow;
  height: NAV_HEIGHT;
  @media (max-width: 850px) {
    height: NAV_MOBILE_HEIGHT;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.inner {
  height: 100%;
	transition: transform;
	display: flex;
	justify-content: space-between;
}

.logo {
	flex: 0 0 170px;
	> a {
		display: block;
	}
	svg {
    transform: scale(0.8) translateY(6px);
    transform-origin: 0% 50%;
		fill: #000;
		@media (max-width: 850px) {
      transform: scale(1) translateY(0);
			width: 120px;
			fill: #000;
		}
	}
}

.nav {
	height: 100%;
	flex: 1 0 auto;
	display: flex;
	justify-content: space-between;
	@media (max-width: 850px) {
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s;
		background-color: rgba(255,251,232,.95);
		position: fixed;
		top: NAV_HEIGHT;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		flex-direction: column;
		&.isNavOpen {
			opacity: 1;
			visibility: visible;
		}
    @media (max-width: 850px) {
      top: NAV_MOBILE_HEIGHT;
    }
	}
}

.buttonArea {
  display: flex;

  > button {
    flex: 1;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: 0;
  }

  .leaveDataBtn {
    padding: 10px 30px;
    border: 1px solid #fff;
    white-space: nowrap;
  }

  .loginBtn {
    padding-left: 20px;
    border: 0;
  }
}

.mHeaderButton {
  @media (min-width: 851px) {
    display: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 72px;
  transform: translate(0, 0);
  padding: 9px 19px 0 19px;
  &:before, &:after, span {
    background: #000;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    width: 100%;
  }

  &.isNavOpen {
    &:before {
      transform: rotate(45deg) translate(4px, 8px);
    }
    &:after {
      transform: rotate(-45deg) translate(4px, -8px);
    }
    span {
      opacity: 0;
    }
  }
}
