@value main-yellow, yellow-light, NAV_HEIGHT from "common/variables.module.css";

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: main-yellow;
  height: NAV_HEIGHT;
}

.inner {
  height: 100%;
	transition: transform;
	display: flex;
	justify-content: space-between;
}

.logo {
	flex: 0 0 170px;
	> a {
		display: block;
	}
	svg {
    transform: scale(0.8) translateY(6px);
    transform-origin: 0% 50%;
		fill: #000;
		@media (max-width: 850px) {
			width: 120px;
			fill: #000;
		}
	}
}

.nav {
	height: 100%;
	flex: 1 0 auto;
	display: flex;
	justify-content: space-between;
	@media (max-width: 850px) {
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s;
		background-color: yellow-light; /* TODO: transparency=.95(F2) */
		position: fixed;
		top: NAV_HEIGHT;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		flex-direction: column;
		&.isNavOpen {
			opacity: 1;
			visibility: visible;
		}
	}
}

.buttonArea {
  display: flex;

  > button {
    flex: 1;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: 0;
  }

  .leaveDataBtn {
    padding: 10px 30px;
    border: 1px solid #fff;
    white-space: nowrap;
  }

  .loginBtn {
    padding-left: 20px;
    border: 0;
  }
}

