@value main-black, yellow-light, NAV_HEIGHT, NAV_MOBILE_HEIGHT from "common/variables.module.css";

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: main-black;
  height: NAV_HEIGHT;
  box-shadow: 0 0 8px rgba(0,0,0,.15);

  @media (max-width: 850px) {
    height: NAV_MOBILE_HEIGHT;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.inner {
  height: 100%;
	transition: transform;
	display: flex;
	justify-content: space-between;
}

.logo {
	flex: 0 0 170px;

	> a {
		display: block;
	}

	svg {
    transform: scale(0.8) translateY(6px);
    transform-origin: 0% 50%;
		fill: #fff;

		@media (max-width: 850px) {
      transform: scale(1) translateY(0);
			width: 120px;
			fill: #fff;
		}
	}
}

.nav {
	height: 100%;
	flex: 1 0 auto;
	display: flex;
	justify-content: space-between;

	@media (max-width: 850px) {
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s;
		background-color: rgba(255,251,232,.95);
		position: fixed;
		top: NAV_HEIGHT;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		flex-direction: column;

		&.isNavOpen {
			opacity: 1;
			visibility: visible;
		}

    @media (max-width: 850px) {
      top: NAV_MOBILE_HEIGHT;
    }
	}
}

.buttonsArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaveDataBtn {
  color: #fff;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #bbb;
  font-size: .95em;
  letter-spacing: 1px;
  transition-property: background;
  transition-duration: .3s;

  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 8px;
  }

  @media (min-width: 851px) {
    &:hover {
      background-color: rgba(255,255,255, .1);
    }
  }
}

.loginBtn {
  padding-left: 20px;
  border: 0;
}

.mHeaderButton {
  @media (min-width: 851px) {
    display: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 72px;
  transform: translate(0, 0);
  padding: 9px 19px 0 19px;
  &:before, &:after, span {
    background: #fff;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    width: 100%;
  }

  &.isNavOpen {
    &:before {
      transform: rotate(45deg) translate(4px, 8px);
    }
    &:after {
      transform: rotate(-45deg) translate(4px, -8px);
    }
    span {
      opacity: 0;
    }
  }
}
