.mHeaderButton {
  @media (min-width: 851px) {
    display: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 72px;
  transform: translate(0, 0);
  padding: 9px 19px 0 19px;
  &:before, &:after, span {
    background: #000;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: all .2s ease-out;
    transform-origin: 50% 50%;
    width: 100%;
  }

  &.isNavOpen {
    &:before {
      transform: rotate(45deg) translate(4px, 8px);
    }
    &:after {
      transform: rotate(-45deg) translate(4px, -8px);
    }
    span {
      opacity: 0;
    }
  }
}
