@value main-yellow, NAV_HEIGHT, NAV_MOBILE_HEIGHT from "common/variables.module.css";

.menu {
	@media (min-width: 851px) {
    height: 100%;
  }

	@media (max-width: 850px) {
		margin-top: 20px;
    width: 100%;
  }
}


.menuItem {
	position: relative;

  @media (min-width: 851px) {
    display: inline-block;
    vertical-align: middle;
    line-height: NAV_HEIGHT;
    position: relative;

    &:hover {
      > a {
        color: main-yellow;
      }
    }

    > a {
      position: relative;
      display: block;
      color: #fff;
      font-size: .95em;
      height: 100%;
      letter-spacing: 0.08em;
      padding-right: 16px;
      padding-left: 16px;
      transition: color .3s, background-color .3s;
			&.isCurrent {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  @media (max-width: 850px) {
    > a {
			color: #fff;
      display: block;
      font-size: 1.15em;
      padding: 15px 20px;
			margin-top: 16px;
			margin-bottom: 16px;
      text-align: center;

      &.isCurrent {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

.newItem {
	> a {
		padding-right: 18px;
	}
}

.new {
	position: absolute;
	top: 0;
	right: -5px;
	z-index: 2;

	@media (max-width: 850px) {
		right: 0;
	}
}
