.breadCrumb {
  width: 294px;
  height: 21px;
  font-family: PingFangTC;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}
