@value main-yellow from '../../../../variables.module.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .warnableContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    .options {
      flex: 1;
    }
  }
}

.options {
  position: relative;

  .optionsContent {
    width: 100%;
    height: 100%;
  }
}

.label {
  display: block;

  & + .label {
    margin-top: 9px;
  }

  &.hidden {
    display: none;
  }
}

.button {
  display: block;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  color: #333333;
  transition: color, background-color 0.3s;
  cursor: pointer;

  &:focus {
    outline: 0;
    border-color: main-yellow;
  }
}

.input {
  display: none;

  &:checked + .button {
    background-color: #626262;
    color: #ffffff;
  }
}
