@value PAGE_TOP, PAGE_TOP_S from "common/variables.module.css";
.description {
  margin-bottom: 40px;
}

.seoText {
  display: none;
}

.contentWrapper {
  display: flex;
  position: relative;
  left: -118px;
  width: calc(100% + 236px);

  .leftBannerWrapper {
    margin-right: 40px;
  }

  .leftBanner {
    width: 156px;
  }

  .content {
    flex: 1;
  }
}
