@value PAGE_TOP, PAGE_TOP_S from "common/variables.module.css";
.description {
  margin-bottom: 40px;
}

.seoText {
  display: none;
}

.contentWrapper {
  display: flex;
  position: relative;

  .leftBannerWrapper {
    flex: 0 0 196px;
    width: 196px;

    @media (max-width: 1280px) {
      flex-basis: 15%;
      width: 15%;
    }

    @media (max-width: 850px) {
      display: none;
    }
  }

  .content {
    flex: 1 1 auto;
    margin-left: 40px;

    @media (max-width: 1280px) {
      margin-left: 24px;
    }
  }
}
