.callToAction {
  margin-top: 80px;

  @media (max-width: 550px) {
    flex-direction: 40px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.image {
  margin-right: 40px;
  flex: 0 0 30%;

  @media (max-width: 550px) {
    flex: 1 1 auto;
    margin-right: 0;
    margin-bottom: 20px;
    order: 1;
  }

  img {
    max-width: 200px;
    @media (max-width: 550px) {
      max-width: 150px;
    }
  }
}

.content {
  flex: 1 1 auto;

  @media (max-width: 550px) {
    text-align: center;
    order: 2;
  }
}

.heading {
  margin-bottom: 20px;
}
