@value border-gray, main-gray, gray-dark from "common/variables.module.css";

.footer {
  margin-top: 100px;
}

.share {
  margin-bottom: 20px;
}

.pagers {
  border-top: 1px solid border-gray;
  border-bottom: 1px solid border-gray;
  display: flex;
}

.back {
  order: 2;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 24%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-left: 1px solid border-gray;
  border-right: 1px solid border-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray-dark;
    svg {
      margin-bottom: 15px;
    }
  }
  transition: background .3s;
  &:hover {
    background-color: #fff;
  }
}

.prev {
  order: 1;
  padding-right: 30px;
  justify-content: flex-start;
  .icon {
    order: 1;
  }
  .title {
    order: 2;
  }
}

.next {
  order: 3;
  padding-left: 30px;
  justify-content: flex-end;
  .icon {
    order: 2;
    transform: rotate(180deg);
  }
  .title {
    order: 1;
  }
}

.pager {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 38%;
  display: flex;
  align-items: center;
  transition: background .3s;
  visibility: hidden;
  opacity: 0;
  &:hover {
    background-color: #fff;
  }
}

.active {
  visibility: visible;
  opacity: 1;
}

.icon {
  width: 24px;
  height: 24px;
  fill: gray-dark;
  flex-shrink: 0;
  margin-right: 15px;
  margin-left: 15px;
}
