.pagers {
  margin-top: 63.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .pager {
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    .cover {
      display: inline-block;
      box-sizing: border-box;
      width: 288px;
      height: 207px;
      border: 8px solid #FFFFFF;
    }

    .text {
      min-height: 24px;
    }
  }
}
