@value link-blue from "common/variables.module.css";
@import "common/mixin.module.css";
@import "common/typography.module.css";

.md {
  p {
    @mixin pL;
  }

  strong, bold {
    font-weight: 700;
  }

  ul, ol {
    @mixin list;
    > li {
      @mixin pL;
    }
  }

  ul {
    @mixin unorderedList;
  }

  ol {
    @mixin orderedList;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  a {
    @mixin blueLink;
  }

  hr {
    border: 0;
    height: 0px;
    background : none;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    @media (max-width: 850px) {
      margin-bottom: 64px;
    }
  }
}
