@value link-blue from "common/variables.module.css";

.md {
  /* PL */
  p {
    font-size: 1.1em;
    line-height: 1.6em;
  }

  strong,
  bold {
    font-weight: 700;
  }

  ul,
  ol {
    margin-left: 1.3em;
    > li {
      /* PL */
      font-size: 1.1em;
      line-height: 1.6em;
      p {
        font-size: inherit;
        line-height: inherit;
      }
      li {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  /* blueLink */
  a {
    color: link-blue;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
    padding-bottom: 2px;
    @media (min-width: 851px) {
      &:hover {
        border-bottom: 1px solid link-blue;
      }
    }
  }

  hr {
    border: 0;
    height: 0px;
    background: none;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    @media (max-width: 850px) {
      margin-bottom: 64px;
    }
  }
}
