@value gray-dark, main-gray from "common/variables.module.css";

.container {
  padding-top: 24px;
  padding-bottom: 16px;
}

.heading {
  color: main-gray;
  margin-bottom: 8px;
  display: flex;
  align-items: center;

  .serialNo {
    color: black;
    margin-right: 16px;
    font-size: 1em;
    font-weight: 700;
  }
}

.comment {
  word-break: break-all;
  white-space: pre-wrap;
}

.reaction {
  color: main-gray;
  margin: 10px 0;
  display: flex;
}
