.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;

  @media (max-width: 550px) {
    flex-direction: column;
    margin-top: 24px;
  }

  .info {
    @media (max-width: 550px) {
      margin-bottom: 8px;
    }
  }
}


.buttons {
  display: flex;
}
