@value below-tablet from "../../common/variables.module.css";

.card {
  max-width: 660px;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.searchLabel {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}

.searchInput {
  width: 240px;
  height: 32px;
  border: solid 1px #bdbdbd;
  background: #ffffff;
  padding: 0 8px;
  font-size: 14px;
  line-height: 32px;
  transition: border-color 0.4s;

  @media (max-width: below-tablet) {
    width: 100%;
  }
}

.searchBtn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  svg {
    width: 16px;
    height: 16px;
    fill: #969696;
  }
}

.footer {
  font-size: 12px;
  color: #969696;
  text-align: center;
  margin-top: 4px;
}
