@value main-gray, gray-dark, main-yellow from "common/variables.module.css";

.likeZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 50px;

  & > * {
    margin-bottom: 26px;
  }

  & > *:last-of-type {
    margin-bottom: 0;
  }
}

.description {
  font-size: 22px;
  text-align: center;
  line-height: normal;
}

.button {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #bdbdbd;

  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    fill: main-gray;
    width: 32px;
    height: 32px;
    transition: fill .2s;
    margin-right: 12px;

    @media (max-width: 550px) {
      margin-right: 6px;
    }

    &.clickable {
      cursor: pointer;
      &:hover {
        fill: gray-dark;
      }
    }

    &.toggled {
      fill: main-yellow;
      &:hover {
        fill: main-yellow;
      }
    }
  }

  .label {
    margin-right: 12px;
    color: #969696;

    @media (max-width: 550px) {
      margin-right: 6px;
    }
  }
}
