@value card-border-gray, warning-red from "common/variables.module.css";

.container {
  padding: 26px 78px;
  border: 1px solid card-border-gray;
  border-radius: 8px;

  &.checked {
    border-width: 2px;
    border-color: warning-red;
  }
}

.container {
  position: relative;

  &.checked:before {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 40px;
    height: 40px;
    border: 2px solid warning-red;
    border-radius: 20px;
    background-color: white;
    content: '✓';
    color: warning-red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
