@value main-yellow, main-gray, gray-dark, gray-light, border-gray from "common/variables.module.css";

.container {
  display: flex;
}

.aside {
  flex: 0 0 196px;

  @media (max-width: 850px) {
    display: none;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 64px;

  @media (max-width: 850px) {
    margin-left: 0;
  }
}

.searchResult {
  background-color: gray-light;
  border: 1px solid #ccc;
  font-weight: 700;
  padding: 20px;
}

.frontButton, .rearButton {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 35px;
  line-height: 35px;
  border: 1px solid main-yellow;
  &.toggle {
    background-color: main-yellow;
  }
}

.frontButton {
  border-radius: 5px 0 0 5px;
}

.rearButton {
  border-radius: 0 5px 5px 0;
}

.splitter {
  margin-bottom: 32px;
  margin-top: 32px;
}
