@value main-yellow, main-gray, gray-dark, gray-light, border-gray from "common/variables.module.css";

.container {
  display: flex;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.aside {
  flex: 0 0 196px;

  @media (max-width: 1280px) {
    flex-basis: 20%;
  }

  @media (max-width: 1024px) {
    flex-basis: 14%;
  }

  @media (max-width: 850px) {
    margin-bottom: 16px;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 64px;

  @media (max-width: 1280px) {
    margin-left: 24px;
  }

  @media (max-width: 850px) {
    margin-left: 0;
  }
}

.searchResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.workingHourWrapper {
  margin-top: 40px;

  @media (max-wdith: 1024px) {
    margin-top: 24px;
  }
}
