@value gray-dark, main-gray, link-blue, border-gray, page-gutter-s from "common/variables.module.css";

.container {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0, .15);
  margin-bottom: 40px;
  transition-property: background, box-shadow;
  transition-duration: .3s;

  @media (min-width: 1025px) {
    &:hover {
      box-shadow: 1px 1px 11px rgba(0,0,0, .3);
    }
  }

  @media (max-width: 1024px) {
    margin-bottom: 24px;
  }
}

.contentWrapper {
  padding: 24px;

  @media (max-width: 1024px) {
    padding: 16px;
  }
}

.heading {
  margin-bottom: 16px;
  margin-top: 16px;
}

.labels {
  margin-bottom: 16px;
}

.label {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
    fill: #C3C3C3;
    margin-right: 8px;
  }
}

.more {
  color: link-blue;
}

.reaction {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  color: main-gray;
  > div {
    margin-right: 24px;
  }
}

.m {
  &.container {
    height: 100%;
    position: relative;
  }

  .location, .salary {
    display: none;
  }

  .contentWrapper {
    margin-bottom: 40px;
  }

  .reaction {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid border-gray;
  }
}

.l {
  &.container {
    @media (max-width: 850px) {
      margin-left: calc(page-gutter-s * -1);
      margin-right: calc(page-gutter-s * -1);
      margin-bottom: 24px;
    }
  }

  .reaction {
    padding-bottom: 20px;
  }
}
