@value gray-dark, link-blue from "../common/variables.module.css";

.container {
  display: block;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 0 4px rgba(0,0,0, .15);
  margin-bottom: 40px;
  transition-property: background, box-shadow;
  transition-duration: .3s;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: 851px) {
    &:hover {
      box-shadow: 1px 1px 11px rgba(0,0,0, .2);
    }
  }
}

.heading {
  margin-bottom: 16px;
  margin-top: 16px;
}

.labels {
  display: flex;
  margin-bottom: 16px;
}

.label {
  margin-right: 24px;
  display: flex;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
    fill: #C3C3C3;
    margin-right: 8px;
  }
}

.content {
  margin-bottom: 16px;
}

.more {
  color: link-blue;
}

.reaction {
  display: flex;
  align-items: center;
  > div {
    margin-right: 24px;
  }
}
