@value main-yellow, main-gray, gray-dark, gray-light, border-gray from "common/variables.module.css";

.container {
  display: flex;
}

.aside {
  flex: 0 0 196px;

  @media (max-width: 850px) {
    display: none;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 64px;

  @media (max-width: 850px) {
    margin-left: 0;
  }
}

.searchResult {
  background-color: gray-light;
  border: 1px solid #ccc;
  font-weight: 700;
  padding: 20px;
}

.searchbar {
  .condition, .search {
    display: table-cell;
    vertical-align: top;
  }
  .condition {
    padding-top: 7px;
  }
  input[type=text] {
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 1.2em;
    padding: 5px;
  }

  .keywordGroup {
    margin: 10px 0 20px 0;

    .keyword {
      font-size: 0.9em;
      line-height: 2.5em;
      border: 1px dashed #aaa;
      border-radius: 5px;
      padding: 7px 13px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: #f5f5f5;
      }
    }
  }

  .searchBtn svg {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: .3s;

    &:hover {
      fill: main-gray;
    }
  }

}

.frontButton, .rearButton {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 35px;
  line-height: 35px;
  border: 1px solid main-yellow;
  &.toggle {
    background-color: main-yellow;
  }
}

.frontButton {
  border-radius: 5px 0 0 5px;
}

.rearButton {
  border-radius: 0 5px 5px 0;
}

.sortBtns {
  padding-bottom: 24px;
  border-bottom: 1px solid border-gray;
}
