@value main-yellow, main-gray, gray-dark, gray-light, border-gray from "../common/variables.module.css";

.container {
  display: flex;

  @media (max-width: 850px) {
    display: block;
  }
}

.aside {
  flex: 0 0 196px;

  @media (max-width: 1280px) {
    flex-basis: 20%;
  }

  @media (max-width: 1024px) {
    flex-basis: 14%;
  }

  @media (max-width: 850px) {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
}

.filter {
  @media (max-width: 850px) {
    order: 2;
  }
}

.banner {
  display: block;

  @media (min-width: 851px) {
    margin-top: 32px;
  }

  @media (max-width: 850px) {
    order: 1;
    margin-top: -32px;
    margin-bottom: 32px;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 64px;

  @media (max-width: 1280px) {
    margin-left: 24px;
  }

  @media (max-width: 850px) {
    margin-left: 0;
  }
}

.searchResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 32px;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.searchResultNum {
  @media (max-width: 850px) {
    margin-top: 16px;
  }
}

.searchNoResult {
  background-color: #f2f2f2;
  border: 1px solid border-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.splitter {
  margin-top: 64px;
  margin-bottom: 64px;
}

.timeSalaryWrapper {
  margin-top: 40px;

  @media (max-wdith: 1024px) {
    margin-top: 24px;
  }
}

.fanPageBlock {
  margin-top: 60px;
}
