@value main-yellow, main-gray, gray-dark, gray-light, border-gray from "../common/variables.module.css";

.searchbar {
  display: flex;
  align-items: center;

  input[type='text'] {
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 1.2em;
    padding: 5px;
    letter-spacing: 1px;
    width: 100%;

    @media (max-width: 850px) {
      width: calc(100% - 30px - 16px);
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.searchbarLarge {
  color: red;
}

.condition {
  flex: 0 0 200px;
  margin-bottom: 16px;

  @media (max-width: 550px) {
    flex-basis: 100%;
  }
}

.search {
  position: relative;
  max-width: 480px;
  flex: 1 1 auto;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.keywordGroup {
  margin-top: 8px;
}

.keyword {
  display: inline-block;
  font-size: 0.9em;
  border: 1px dashed #aaa;
  border-radius: 5px;
  padding: 6px 12px;
  margin-left: 10px;
  margin-bottom: 8px;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

.searchBtn {
  position: absolute;
}

.searchBtn svg {
  margin-left: 16px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 0.3s;

  &:hover {
    fill: main-gray;
  }
}
