@value yellow-bar, gray-dark, main-gray, main-yellow, warning-red from "../common/variables.module.css";

.bar {
  background-color: yellow-bar;
  padding: 5px;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  &.hardly {
    background-color: main-gray;
  }
  &.sometimes {
    background-color: gray-dark;
  }
  &.usually {
    background-color: main-yellow;
  }
  &.always {
    background-color: warning-red;
  }
}
.sector {
  color: main-gray;
}
.companyTable {
  .colPosition,
  .colCompany {
    width: 18%;
  }
  .colType {
    width: 9%;
  }
  .colDayTime {
    width: 10%;
  }
  .colWeekTime {
    width: 10%;
  }
  .colFrequency {
    width: 11%;
  }
  .colExperience {
    width: 10%;
  }
  .colSalary {
    width: 11%;
  }
  .colHourly {
    width: 10%;
  }
  .colDataTime {
    width: 10%;
  }
  &.rwdTable th {
    padding-top: 15px;
  }
}

