@value yellow-bar, warning-red, below-small, above-small from '../../../common/variables.module.css';

.root {
  &.mobile {
    @media (min-width: below-small) {
      display: none;
    }
  }

  &:not(.mobile) {
    @media (max-width: above-small) {
      display: none;
    }
  }
}

.card {
  margin-bottom: 68px;
}

.toggle {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  padding: 8px;
  transition: rotate 0.3s;

  &.collapsed {
    rotate: 180deg;
  }
}

.content {
  display: block;

  &.collapsed {
    display: none;
  }
}

.items {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 26px;
  margin: 20px 0;

  @media (max-width: below-small) {
    grid-template: auto / repeat(1, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 9px;

  .titleContainer {
    margin-top: 15px;
    flex: 1;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 8px;
    }
  }

  .data {
    margin-top: 27px;
  }

  .caption {
    margin-top: 20px;

    .value {
      margin-left: 8px;
    }
  }
}

.preview {
  .item:not(:first-child) {
    display: none;
  }

  .disclaimer {
    display: none;
  }
}

.badge {
  background-color: yellow-bar;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

.icon {
  width: 14px;
  height: 14px;
}

.data {
  font-size: 14px;
  font-weight: 400;

  .value {
    font-size: 48px;
    font-weight: 700;
  }
}

.caption {
  font-size: 12px;
  font-weight: 400;

  .value {
    font-size: 16px;
    font-weight: 700;
    color: warning-red;
  }
}

.disclaimer {
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  text-align: right;
}
