.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;

  @media (max-width: 550px) {
    flex-direction: column;
  }

  .info {
    @media (max-width: 550px) {
      margin-bottom: 16px;
    }
  }
}
