@value below-tablet from "common/variables.module.css";

.typeBadge {
  border: 1px solid #bdbdbd;
  padding: 3px 12px;
  border-radius: 3px;
  font-size: 13px;
  color: #626262;
}

.link {
  margin-left: 20px;
  @media (max-width: below-tablet) {
    margin-left: 0px;
    display: block;
  }
}

.unlockedTimeCol {
  width: 20%;
}

.unlockedDataCol {
  width: 80%;
}

.unlockedDataRow {
  line-height: 30px;
}

.emptyBlock {
  background-color: #f2f2f2;
  border: 1px solid border-gray;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333333;
  padding: 130px 0;
}
