@value link-blue from "./variables.module.css";

.editor {
  /* pL */
  font-size: 1.1em;
  line-height: 1.6em;

  h2 {
    /*headingSL*/
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    @media (max-width: 550px) {
      font-size: 1.4em;
    }

    margin-top: 1.5em;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 1em;
  }

  strong,
  bold {
    font-weight: 700;
  }

  /* blueLink */
  a {
    color: link-blue;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
    padding-bottom: 2px;
    @media (min-width: 851px) {
      &:hover {
        border-bottom: 1px solid link-blue;
      }
    }
  }

  ul,
  ol {
    margin-left: 1.3em;
    > li {
      p {
        font-size: inherit;
        line-height: inherit;
      }
      li {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}
