@value link-blue from "common/variables.module.css";

.editor {
  /* sl bold but margin */
  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 700;

    @media (max-width: 550px) {
      font-size: 1.4em;
    }
    margin-top: 60px;
    margin-bottom: 20px;
  }

  /* l but margin bottom */
  p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1em;
  }

  /* same as MarkdowmParser.module.css */
  strong, bold {
    font-weight: 700;
  }

  ol, ul {
    margin-left: 1.3em;
    > li {
      font-size: 1.1em;
      list-style: decimal;
      line-height: 1.5em;
      p {
        font-size: inherit;
        line-height: inherit;
      }
      li {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  a {
    color: link-blue;
    border-bottom: 1px solid transparent;
    transition: border .3s;
    padding-bottom: 2px;
    @media (min-width: 851px) {
      &:hover {
        border-bottom: 1px solid link-blue;
      }
    }
  }
}
