@value link-blue from "common/variables.module.css";
@import "common/mixin.module.css";
@import "common/typography.module.css";

.editor {
  @mixin pL;

  h2 {
    @mixin headingSL;

    margin-top: 1.5em;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 1em;
  }

  strong, bold {
    font-weight: 700;
  }

  a {
    @mixin blueLink;
  }

  ul, ol {
    @mixin list;
  }

  ul {
    @mixin unorderedList;
  }

  ol {
    @mixin orderedList;
  }
}
