@value main-yellow from "./variables.module.css";

.button {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.icon {
  fill: main-yellow;
  height: 82px;
  width: 82px;
  margin-bottom: 32px;
}
