@value inner-wrap-l, inner-wrap-m, inner-wrap-m=s, page-gutter, page-gutter-s, gray-dark, main-black, main-yellow, link-blue, main-gray from "common/variables.module.css";

:global {
  /* font */
  [class*="Bold"], .formLabel, .buttonSubmit {
    font-weight: 700;
  }

  .headingL, .headingLBold {
    font-size: 2.25em;
  	line-height: 1.25em;
  	letter-spacing: 0.03em;
  }

  .headingM, .headingMBold {
    font-size: 1.75em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
  }

  .subheadingL, .subheadingLBold {
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    @media (max-width: 550px) {
      font-size: 1.4em;
    }
  }

  .subheadingM, .subheadingMBold {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .pL, .pLBold {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .pM, .pMBold {
    font-size: 1em;
    line-height: 1.6em;
  }
  .pS, .pSBold {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .formLabel, .buttonSubmit {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }


  /*buttons*/
  [class^="buttonCircle"] {
    display: inline-flex;
    /*height: 45px;*/
    align-items: center;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    border-radius: 45px;
    transition: background-color .3s;
  }

  .buttonCircleL {
    padding: 10px 50px;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .buttonCircleM {
    padding: 8px 40px;
    font-size: 0.95em;
    line-height: 1.4em;
  }

  .buttonBlack {
    background-color: main-black;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
        color: main-black;
      }
    }
  }

  .buttonBlack2 {
    background-color: main-black;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: #555;
      }
    }
  }

  .buttonWhiteLine {
    border: 1px solid #fff;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
        color: main-black;
        border-color: main-yellow;
      }
    }
  }

  .buttonBlackLine {
    border: 1px solid main-black;
    color: main-black;

    @media (min-width: 851px) {
      &:hover {
        background-color: main-black;
        color: #fff;
      }
    }
  }

  .buttonGray {
    background-color: gray-dark;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: #424242;
      }
    }
  }

  .buttonHoverYellow {
    background-color: transparent;
    color: black;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }
    }
  }

  .buttonSubmit {
    font-size: .95em;
    letter-spacing: 1px;
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color .3s;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }
      &[disabled]:hover {
        background-color: main-gray;
        cursor: not-allowed;
      }
    }
    &[disabled] {
      background-color: main-gray;
      cursor: not-allowed;
    }
  }

  .blueLink {
    color: link-blue;
    border-bottom: 1px solid transparent;
    transition: border .3s;
    padding-bottom: 2px;
    @media (min-width: 851px) {
      &:hover {
        border-bottom: 1px solid link-blue;
      }
    }
  }

}
