@value inner-wrap-l, inner-wrap-m, inner-wrap-m=s, page-gutter, page-gutter-s, main-black, main-yellow from "common/variables.module.css";

:global {
  /* wrapper */
  .wrapperL {
    width: 100%;
  	max-width: inner-wrap-l;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }

  .wrapperM {
    width: 100%;
  	max-width: inner-wrap-m;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }

  .wrapperS {
    width: 100%;
  	max-width: inner-wrap-s;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }

  /* table */
  table {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    text-align: left;
    font-size: .95em;
    line-height: 1.2em;
    letter-spacing: .05em;
    color: #777;
    padding: 30px 5px 10px;
    border-bottom: 2px solid #ededed;
    vertical-align: bottom;
  }
  td {
    font-size: .95em;
    line-height: 1.3em;
    border-bottom: 1px solid #ededed;
    padding: 12px 5px;
  }


  /* font */
  [class*="Bold"], .formLabel {
    font-weight: 700;
  }

  .headingL, .headingLBold {
    font-size: 2.1em;
  	line-height: 1.25em;
  	letter-spacing: 0.03em;
  }

  .headingM, .headingMBold {
    font-size: 1.75em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
  }

  .subheadingL.subheadingLBold {
    font-size: 1.4em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }

  .subheadingM, .subheadingMBold {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .pL, .pLBold {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .pM, .pMBold {
    font-size: 1em;
    line-height: 1.6em;
  }
  .pS, .pSBold {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .formLabel {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }

  /*buttons*/
  [class^="buttonCircle"] {
    display: inline-flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    border-radius: 45px;
    transition: background-color .3s;
  }

  .buttonCircleM {
    padding: 0 40px;
  }

  .buttonBlack {
    background-color: main-black;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }      
    }
  }
}
