@value inner-wrap-l, inner-wrap-m, inner-wrap-m=s, page-gutter, page-gutter-s, gray-dark, main-black, main-yellow, link-blue, main-gray, gray-light, white-light, border-gray from "common/variables.module.css";

:global {
  /* font */
  .headingL, .headingLBold {
    font-size: 2.25em;
    line-height: 1.25em;
    letter-spacing: 0.03em;
  }

  .headingM, .headingMBold {
    font-size: 1.75em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
  }

  .subheadingL, .subheadingLBold {
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    @media (max-width: 550px) {
      font-size: 1.4em;
    }
  }

  .subheadingM, .subheadingMBold {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .pL, .pLBold {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .pM, .pMBold {
    font-size: 1em;
    line-height: 1.6em;
  }
  .pS, .pSBold {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .formLabel {
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  [class*="Bold"] {
    font-weight: 700;
  }

  /* buttons start */
  [class^="button"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    transition: background-color .3s;
  }

  [class^="buttonCircle"] {
    border-radius: 1.5em;
  }

  .buttonCircleL {
    padding: 0 50px;
    font-size: 1.05em;
    height: 45px;
  }

  .buttonCircleM {
    padding: 0 40px;
    font-size: 0.95em;
    height: 40px;
  }
  .buttonCircleS {
    padding: 0 24px;
    font-size: 0.95em;
    height: 36px;
    font-weight: 400;
  }

  .buttonBlack {
    background-color: main-black;
    color: #fff;
    @media (min-width: 1025px) {
      &:hover {
        background-color: main-yellow;
        color: main-black;
      }
    }
  }

  .buttonBlack2 {
    background-color: main-black;
    color: #fff;
    @media (min-width: 1025px) {
      &:hover {
        background-color: #555;
      }
    }
  }

  .buttonWhiteLine {
    border: 1px solid #fff;
    color: #fff;
    @media (min-width: 1025px) {
      &:hover {
        background-color: main-yellow;
        color: main-black;
        border-color: main-yellow;
      }
    }
  }

  .buttonBlackLine {
    border: 1px solid main-black;
    color: main-black;

    @media (min-width: 1025px) {
      &:hover {
        background-color: main-black;
        color: #fff;
      }
    }
  }

  .buttonGrayLine {
    border: 1px solid main-gray;
    color: main-black;

    @media (min-width: 1025px) {
      &:hover {
        background-color: gray-light;
      }
    }
  }

  .buttonGray {
    background-color: gray-dark;
    color: #fff;
    @media (min-width: 1025px) {
      &:hover {
        background-color: #424242;
      }
    }
  }

  .buttonHoverYellow {
    background-color: transparent;
    color: black;
    @media (min-width: 1025px) {
      &:hover {
        background-color: main-yellow;
      }
    }
  }

  .buttonFirstPage, .buttonPage {
    height: 42px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    margin-left: 16px;
  }

  .buttonPage {
    background-color: #e0e0e0;

    @media (min-width: 1025px) {
      &:hover {
        background-color: main-yellow;
      }
    }

    svg {
      width: 14px;
      height: 14px;
      fill: main-black;

      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: 8px;
      }
    }

    &[disabled] {
      background-color: rgba(224,224,224, .4);
      color: #ccc;
      pointer-events: none;

      svg { fill: #ccc; }
    }
  }

  .buttonFirstPage {
    color: gray-dark;

    @media (min-width: 1025px) {
      &:hover {
        color: main-yellow;
      }
    }
  }
  /* buttons end */

  .blueLink {
    color: link-blue;
    border-bottom: 1px solid transparent;
    transition: border .3s;
    padding-bottom: 2px;
    @media (min-width: 851px) {
      &:hover {
        border-bottom: 1px solid link-blue;
      }
    }
  }

  .hoverBlue {
    transition: color .3s;
    @media (min-width: 1025px) {
      &:hover {
        color: link-blue;
      }
    }
  }

  .alignLeft {
    text-align: left;
  }
}
