@value inner-wrap-l, inner-wrap-m, inner-wrap-m=s, page-gutter, page-gutter-s, gray-dark, main-black, main-yellow from "common/variables.module.css";

:global {
  /* wrapper */
  .wrapperL {
    width: 100%;
  	max-width: inner-wrap-l;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }

  .wrapperM {
    width: 100%;
  	max-width: inner-wrap-m;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }

  .wrapperS {
    width: 100%;
  	max-width: inner-wrap-s;
  	padding: 0 60px;
  	margin: 0 auto;
  	@media (max-width: 850px) {
  		padding: 0 page-gutter;
  	}
  	@media (max-width: 550px) {
  		padding: 0 page-gutter-s;
  	}
  }


  /* table */
  table {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    text-align: left;
    font-size: .95em;
    line-height: 1.2em;
    letter-spacing: .05em;
    color: #777;
    padding: 30px 5px 10px;
    border-bottom: 2px solid #ededed;
    vertical-align: bottom;
  }
  td {
    font-size: .95em;
    line-height: 1.3em;
    border-bottom: 1px solid #ededed;
    padding: 12px 5px;
  }


  /* font */
  [class*="Bold"], .formLabel, .buttonSubmit {
    font-weight: 700;
  }

  .headingL, .headingLBold {
    font-size: 2.1em;
  	line-height: 1.25em;
  	letter-spacing: 0.03em;
  }

  .headingM, .headingMBold {
    font-size: 1.75em;
    line-height: 1.3em;
    letter-spacing: 0.1em;
  }

  .subheadingL, .subheadingLBold {
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    @media (max-width: 550px) {
      font-size: 1.4em;
    }
  }

  .subheadingM, .subheadingMBold {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .pL, .pLBold {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .pM, .pMBold {
    font-size: 1em;
    line-height: 1.6em;
  }
  .pS, .pSBold {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .formLabel, .buttonSubmit {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }


  /*buttons*/
  [class^="buttonCircle"] {
    display: inline-flex;
    /*height: 45px;*/
    align-items: center;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    border-radius: 45px;
    transition: background-color .3s;
  }

  .buttonCircleL {
    padding: 10px 50px;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .buttonCircleM {
    padding: 8px 40px;
    font-size: 0.95em;
    line-height: 1.4em;
  }

  .buttonBlack {
    background-color: main-black;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }
    }
  }

  .buttonGray {
    background-color: gray-dark;
    color: #fff;
    @media (min-width: 851px) {
      &:hover {
        background-color: #424242;
      }
    }
  }

  .buttonHoverYellow {
    background-color: transparent;
    color: black;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }
    }
  }

  .buttonSubmit {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color .3s;
    @media (min-width: 851px) {
      &:hover {
        background-color: main-yellow;
      }
    }
  }

}
