@value inner-wrap-l, page-gutter, page-gutter-s from "../common/variables.module.css";

:global .wrapperL {
  width: 100%;
	max-width: inner-wrap-l;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 850px) {
		padding: 0 page-gutter;
	}
	@media (max-width: 550px) {
		padding: 0 page-gutter-s;
	}
}

:global .headingStyle {
	font-size: 2.1em;
	line-height: 1.25em;
	letter-spacing: 0.03em;
	@media (max-width: 850px) {
		font-size: 1.8em;
	}
}

:global {
  [class^="pL"], [class^="pM"], [class^="pS"] {
    line-height: 1.5em;
  }

  [class^="heading"], [class^="subheading"], [class*="Bold"], .formLabel {
    font-weight: 700;
  }

  .heading {
    &L {
      font-weight: 400;
      font-size: 2.2em;
      line-height: 1.4em;
      letter-spacing: 0.08em;
    }
    &M {
      font-size: 1.6em;
      line-height: 1.4em;
      letter-spacing: 0.1em;
    }
  }
  .subheading {
    &L {
      font-size: 1.4em;
      line-height: 1.4em;
      letter-spacing: 0.1em;
    }
    &M {
      font-size: 1.3em;
      line-height: 1.4em;
      letter-spacing: 0.05em;
    }
  }

  .pL, .pLBold {
    font-size: 1.1em;
  }
  .pM, .pMBold {
    font-size: 1em;
  }
  .pS, .pSBold {
    font-size: 0.9em;
  }

  .formLabel {
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
}
