@define-mixin list {
  margin-left: 1.3em;
  > li {
    p {
      font-size: inherit;
      line-height: inherit;
    }
    li {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

@define-mixin orderedList {
  list-style-type: decimal;
}

@define-mixin unorderedList {
  list-style-type: disc;
}
