@value see-more-button-color: #a2a2a2;

/* ------------------------------------
 *  Width and Height
 * ------------------------------------ */
@value inner-wrap-l: 1264px;
@value inner-wrap-m: 964px;
@value inner-wrap-s: 764px;

@value page-gutter: 40px;
@value page-gutter-s: 15px;

@value NAV_HEIGHT: 54px;
@value NAV_MOBILE_HEIGHT: 50px;
@value PAGE_TOP: 64px;
@value PAGE_TOP_S: 30px;

/* ------------------------------------
 *  Color
 * ------------------------------------ */
@value main-black: #222;
@value main-yellow: #fcd406;
@value yellow-light: #fffbe8;
@value yellow-bar: #FCEEA7;
@value yellow-bg: #f9eccd;
@value main-orange: #ec7910;

@value main-gray: #b4b4b4;
@value gray-dark: #777;
@value gray-light: #eeeeed;

@value white-light: #f9f9f9;
@value warning-red: #d50000;
@value border-gray: #ddd;

@value link-blue: #325bbd;


/* ------------------------------------
 *  Font
 * ------------------------------------ */
@value primary-font: "PingFang TC", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;

/* ------------------------------------
 *  MediaQueries
 * ------------------------------------ */
@value below-medium: 1280px;
@value below-desktop: 1024px;
@value below-small: 850px;
@value below-tablet: 767px;
@value below-mobile: 550px;
@value below-little: 330px;

@value above-medium: 1281px;
@value above-desktop: 1025px;
@value above-small: 851px;
@value above-tablet: 768px;
@value above-mobile: 551px;
