@value above-small from "common/variables.module.css";
$above-desktop: 1025px;

.container {
  margin: 0 auto;
  text-align: center;
}

.loginBtnContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;

  @media (max-width: above-small) {
    flex-direction: column;
    height: 8rem;
    align-items: center;
  }
}

.login-tips {
  font-size: 0.825em;
  color: #969696;
  margin-top: 0.8em;
  line-height: 1.5em;
}
