@value main-yellow from 'common/variables.module.css';

.heading {
  color: main-yellow;
  margin-right: 16px;
  font-size: 14px;
}

.subheading {
  color: #eee;
  font-size: 13px;
  margin-left: 16px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.button {
  font-size: 13px;
  color: main-yellow;
  font-weight: 700;
  padding-left: 8px;
}
