@value TOP_HEIGHT from '../../../common/variables.module.css';

.root {
  display: block;
  height: TOP_HEIGHT;
  background-color: #494949;
  transition-property: background-color;
  transition-duration: 0.25s;

  @media (min-width: 1025px) {
    &:hover {
      background-color: #393939;
    }
  }

  @media (max-width: 850px) {
    display: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
