.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.warningText {
  color: red;
  margin-top: 5px;
}

.hidden {
  display: none;
}
