@value above-small from "common/variables.module.css";

.card {
  padding: 30px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;

  @media (min-width: above-small) {
    padding: 20px;
  }
}
