.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .options {
    flex: 1;
    border: solid 1px transparent;
  }

  &.hasWarning {
    .options {
      border-color: #d0021b;
    }
  }
}

.options {
  position: relative;

  .optionsContent {
    width: 100%;
    height: 100%;
  }
}

.label {
  display: block;

  & + .label {
    margin-top: 9px;
  }
}

.button {
  display: block;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  color: #333333;
  transition: color, background-color 0.3s;
  cursor: pointer;
}

.input {
  display: none;

  &:checked + .button {
    background-color: #626262;
    color: #ffffff;
  }
}

.warning {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1.07px;
  color: #d0021b;
}
