.inputRow {
  display: flex;
  border: 1px solid transparent;

  .inputGroup {
    flex: 1;
  }

  .inputGroup + .inputGroup {
    margin-left: 24px;
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  font-size: 15px;

  .inputWrapper {
    flex: 1;
  }

  .suffixLabel {
    margin: 0 11px;
  }
}
