.upload {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: dashed 2px #bdbdbd;
  background-color: #ffffff;
  cursor: pointer;

  &.finished {
    .uploadText {
      color: #333333;
    }

    .icon {
      color: #fcd406;
    }
  }

  &.error {
    .uploadText {
      color: #d50000;
    }

    .icon {
      color: #d50000;
    }
  }
}

.uploadText {
  display: block;
  font-size: 18px;
  line-height: 1.33;
  color: #969696;
}

.input {
  display: none;
}

.icon {
  display: block;
  margin-right: 9px;
  width: 19px;
  height: 25px;
  color: #e0e0e0;
}
