@value main-yellow from 'common/variables.module.css';

.title {
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 10px;
  line-height: normal;

  &.necessary::after {
    content: ' *';
    color: red;
  }
}

.ratingContainer {
  position: relative;
}

.ratingLabel {
  margin-top: 20px;
}

.ratingInput {
  display: none;
}

.glikeContainer {
  fill: #c5c5c5;
  width: 32px;
  height: 32px;
  transition-property: fill;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    fill: #969696;
  }

  &.active {
    fill: main-yellow;
  }
}

.clickNote {
  width: 82px;
  height: 23px;
  position: absolute;
  right: 10%;
  top: 76%;
  font-size: 15px;
  line-height: 1.53;
  color: #000000;
}
