@value main-yellow from 'common/variables.module.css';

.flexContainer {
  display: flex;
  margin-top: 20px;
  padding: 1px;
  border: solid 1px transparent;

  .noteContainer {
    flex: 1;
  }
}

.ratingLabel {
  cursor: pointer;
}

.ratingInput {
  display: none;

  &:checked + .glikeContainer {
    fill: main-yellow;
  }
}

.glikeContainer {
  fill: #c5c5c5;
  width: 32px;
  height: 32px;
  transition-property: fill;
  transition-duration: 0.3s;
  cursor: pointer;
}

.noteContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 19px;

  /*-- Bubble caret --*/

  &::before,
  span {
    display: inline-block;
    border: solid transparent 8px;
    border-left-width: 0;
  }

  &::before {
    content: '';
    border-right-color: #fcd406;
  }

  span {
    position: absolute;
    left: 2px;
    border-right-color: #fffae1;
  }

  /*-- Bubble body --*/

  &::after {
    content: '點擊做評分';
    padding: 5px 8px;
    border-radius: 4px;
    border: solid 1px #fcd406;
    background-color: #fffae1;
    font-size: 15px;
    line-height: 1.53;
    color: #000000;
  }

  &[data-label]::after {
    content: attr(data-label);
  }
}
