$warning-red: #d0021b;

.title {
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 10px;

  &.necessary::after {
    content: ' *';
    color: red;
  }
}

.textinput {
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  padding: 10px 15px;
  font-size: 16px;

  ::placeholder {
    width: 134px;
    height: 22px;
    color: #c0c0c0;
  }

  &.hasWarning {
    border-color: $warning-red;
  }
}

.warning {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1.07px;
  color: $warning-red;
}
