.title {
  width: 310px;
  height: 25px;
  font-family: PingFangTC;
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 10px;

  .necessary {
    color: red;
  }
}

.textinput {
  width: 310px;
  height: 45px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  padding-left: 15px;

  ::placeholder {
    width: 134px;
    height: 22px;
    font-family: PingFangTC;
    font-size: 16px;
    color: #c0c0c0;
  }
}
