@import "common/typography.module.css";

.l {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: 2px;

  @media (max-width: 850px) {
    font-size: 2em;
  }
}

.m {
  font-size: 1.75em;
  line-height: 1.3em;
  letter-spacing: 0.1em;

  @media (max-width: 550px) {
    font-size: 1.6em;
  }
}

.sl {
  @mixin headingSL;
}

.sm {
  font-size: 1.375em;
  line-height: 1.4em;

  @media (max-width: 550px) {
    font-size: 1.2em;
  }
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.center {
  text-align: center;
}

.marginBottom {
  margin-bottom: 40px;

  @media (max-width: 550px) {
    margin-bottom: 24px;
  }
}
