.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.l {
  font-size: 1.1em;
  line-height: 1.6em;
}

.m {
  font-size: 1em;
  line-height: 1.6em;
}

.s {
  font-size: 0.9em;
  line-height: 1.5em;
}
