@value PAGE_TOP, PAGE_TOP_S from "../variables.module.css";

.pageTop {
  padding-top: PAGE_TOP;
  @media (max-width: 550px) {
    padding-top: PAGE_TOP_S;
  }
}

.padding {
  padding-top: 64px;
  padding-bottom: 64px;

  @media (max-width: 550px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.paddingBottom {
  padding-bottom: 64px;

  @media (max-width: 550px) {
    padding-bottom: 48px;
  }
}

.paddingTop {
  padding-top: 64px;

  @media (max-width: 550px) {
    padding-top: 48px;
  }
}

.marginTop {
  margin-top: 64px;

  @media (max-width: 550px) {
    margin-top: 48px;
  }
}

.center {
  display: flex;
  justify-content: center;
}
