.wrapper {
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 0;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  transition-property: background;
  transition-duration: 0.3s;

  &::after {
    content: '取消';
    position: absolute;
    bottom: -24px;
    display: block;
    text-align: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #555;

    @media (max-width: 850px) {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: 851px) {
    &:hover {
      background-color: #ebebeb;

      &::after {
        opacity: 1;
      }
    }
  }

  @media (max-width: 850px) {
    top: 0;
    width: 64px;
    height: 64px;
  }
}
