@value main-yellow from "common/variables.module.css";

.container {
  padding: 0 20%;
}

@media (max-width: 550px) {
  .container {
    padding: 0 20px;
  }
}

.iconHeading {
  margin-bottom: 16px;
  display: flex;
  letter-spacing: 1px;
  svg {
    width: 30px;
    height: 30px;
    fill: main-yellow;
    margin-right: 12px;
  }
}

.block {
  background: white;
  width: 100%;
  padding: 48px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
