.block {
  background: white;
  width: 100%;
  padding: 48px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 550px) {
    padding: 48px 16px;
    margin-left: -16px;
    margin-right: -16px;
  }
}
