@value below-small: 850px;
@value below-mobile: 550px;

.filterBar {
  display: flex;
  gap: 10px;
  flex: 1;

  @media (max-width: below-small) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 12px;
  }
}

.group {
  display: flex;
  align-items: center;
  gap: 4px;

  @media (max-width: below-small) {
    flex-direction: column;
    align-items: stretch;

    .label {
      font-weight: bold;
    }
  }
}

.sortGroup {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;

  @media (max-width: below-small) {
    margin-left: 0;

    .label {
      font-weight: bold;
      white-space: nowrap;
    }

    .select {
      flex: 1;
    }
  }
}

.select {
  height: 32px;
  line-height: 32px;
  border: solid 1px #bdbdbd;
  background: #ffffff;
  padding: 0 8px;
  cursor: pointer;

  @media (max-width: below-small) {
  }
}
