name: Github Actions CI

on:
  push:
    branches:
      - master
      - dev
      - dev2
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Lint and Unit test
        run: CI=true npm run test
      - name: Build js
        run: CI=false npm run build
  test-future:
    name: test future node
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: '--openssl-legacy-provider'
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: yarn install
      - name: Lint and Unit test
        run: CI=true npm run test
      - name: Build js
        run: CI=false npm run build
  docker-production:
    name: Deploy docker image
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      IMAGE: goodjobshare:production
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${REGISTRY} -u ${{ github.actor }} --password-stdin
      - run: docker compose -f .github/docker-compose-production.yml build
      - run: docker tag ${IMAGE} ${REGISTRY}/${IMAGE_NAME}:production-${GITHUB_SHA}
      - run: docker push ${REGISTRY}/${IMAGE_NAME}:production-${GITHUB_SHA}
  docker-stage:
    name: Deploy docker image
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      IMAGE: goodjobshare:stage
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${REGISTRY} -u ${{ github.actor }} --password-stdin
      - run: docker compose -f .github/docker-compose-stage.yml build
      - run: docker tag ${IMAGE} ${REGISTRY}/${IMAGE_NAME}:stage
      - run: docker push ${REGISTRY}/${IMAGE_NAME}:stage
  docker-dev:
    name: Deploy docker image
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      IMAGE: goodjobshare:dev
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${REGISTRY} -u ${{ github.actor }} --password-stdin
      - run: docker compose -f .github/docker-compose-dev.yml build
      - run: docker tag ${IMAGE} ${REGISTRY}/${IMAGE_NAME}:dev
      - run: docker push ${REGISTRY}/${IMAGE_NAME}:dev
  docker-dev2:
    name: Deploy docker image
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/dev2'
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      IMAGE: goodjobshare:dev
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${REGISTRY} -u ${{ github.actor }} --password-stdin
      - run: docker compose -f .github/docker-compose-dev.yml build
      - run: docker tag ${IMAGE} ${REGISTRY}/${IMAGE_NAME}:dev2
      - run: docker push ${REGISTRY}/${IMAGE_NAME}:dev2
  deploy-stage:
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - docker-stage
    steps:
      - name: Deploy stage
        run: |
          curl --user "${{ secrets.DEPLOY_CI_TOKEN }}" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -d '{"event_type": "goodjobshare-master-published"}' \
            https://api.github.com/repos/goodjoblife/goodjob-deploy-ci/dispatches
  deploy-dev:
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    needs:
      - docker-dev
    steps:
      - name: Deploy dev
        run: |
          curl --user "${{ secrets.DEPLOY_CI_TOKEN }}" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -d '{"event_type": "goodjobshare-dev-published"}' \
            https://api.github.com/repos/goodjoblife/goodjob-deploy-ci/dispatches
  deploy-dev2:
    if: github.repository == 'goodjoblife/GoodJobShare' && github.event_name == 'push' && github.ref == 'refs/heads/dev2'
    runs-on: ubuntu-latest
    needs:
      - docker-dev2
    steps:
      - name: Deploy dev
        run: |
          curl --user "${{ secrets.DEPLOY_CI_TOKEN }}" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -d '{"event_type": "goodjobshare-dev2-published"}' \
            https://api.github.com/repos/goodjoblife/goodjob-deploy-ci/dispatches
