@value main-yellow, below-mobile from "../variables.module.css";

.group {
  display: flex;
  border-radius: 5px;
  border: 0;
  border-bottom: 0.7px solid #cecece;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: below-mobile) {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
  }
}

.element {
  padding: 0 29px;

  @media (max-width: below-mobile) {
    padding: 0 13px;
  }
}

.text {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border: 3px solid transparent;
  border-radius: 4px;
}

.active .text {
  border-bottom-color: main-yellow;
}
