.desktop {
    position: relative;
    margin-top: 118px;
}

.header {
    text-align: center;
}

.content {
    max-width: 900px;
    text-align: left;
    margin: 0px auto;
    margin-top: 33px;
}

.content_para {
    white-space: pre-wrap;
}

.content_image {
   width: 900px;
   height: 640px;
}

.feedback {
    margin-top: 93px;
}

.goodjob {
    width: 97px;
    height: 25px;
    float:left;
    display:inline-block;
    display: flex;
    align-items: center;
}

.goodjob:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: yellow;
    margin-right: 9px;
}

.goodjob_count:before {
    content: '好';
    margin-right: 10px;
}

.share {
    float: right;
    display:inline-block;
    margin: 0px 14px;
}

.share:before {
    content: '分享';
    margin-right: 15px;
}

.share_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 14px;
    background-color: yellow;
    text-align: center;
}

.seperator {
    box-sizing: border-box;
    width: 900px;
    height: 3px;
    border: 1px solid #DADADA;
    margin: 18px 0px;
}

.pagers {
    margin-top: 63.5px;
}

.pager_image {
    display: inline-block;
    box-sizing: border-box;
    width: 288px;
    height: 207px;
    border: 8px solid #FFFFFF;
    background-color: pink;
}

.pager_text {
    width: 331px;
    min-height: 24px;
}

.call_to_action {
    margin-top: 83.5px;
    padding-top: 128px;
    padding-bottom: 98px;
    text-align: center;
    background-color: #FFFFFF;
}

.back {
    position: fixed;
    left: 37px;
    width: 77px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #969696;
}

.back:before {
    content: '';
    background-color: gray;
    display: inline-block;
    width: 28px;
    height: 21px;
    margin-right: 11px;
}

